rsource "algorithms/Kconfig"
rsource "algorithm_runner/Kconfig"
rsource "bluetooth/Kconfig"
rsource "cpatch/Kconfig"
rsource "data_logger/Kconfig"
rsource "dfu/Kconfig"
rsource "epacket/Kconfig"
rsource "logging/backends/Kconfig"
rsource "tdf/Kconfig"
rsource "fs/Kconfig"
rsource "modem/backends/Kconfig"
rsource "mgmt/Kconfig"
rsource "net/Kconfig"
rsource "rpc/Kconfig"
rsource "task_runner/Kconfig"
rsource "validation/Kconfig"
rsource "zbus/Kconfig"
