# Infuse-IoT sysbuild integration

config INFUSE_INTEGRATION
	bool "Sysbuild compilation according to Infuse-IoT"

choice BOOTLOADER
	default BOOTLOADER_MCUBOOT if INFUSE_INTEGRATION
endchoice

config BT_HCI_IPC_BOARD_TARGET_CPUCLUSTER
	string
	default "cpunet" if SOC_NRF5340_CPUAPP
