# Task Runner tasks

config TASK_RUNNER_TASK_TDF_LOGGER
	bool "TDF logger task"

if TASK_RUNNER_TASK_TDF_LOGGER

module = TASK_TDF_LOGGER
module-str = TDF logger task
source "subsys/logging/Kconfig.template.log_config"

endif # TASK_RUNNER_TASK_TDF_LOGGER

config TASK_RUNNER_TASK_IMU
	bool "IMU task"

if TASK_RUNNER_TASK_IMU

config TASK_RUNNER_TASK_IMU_MAX_FIFO
	int "Maximum number of samples that can be read"
	default 256

module = TASK_IMU
module-str = IMU task
source "subsys/logging/Kconfig.template.log_config"

endif # TASK_RUNNER_TASK_IMU

config TASK_RUNNER_TASK_BATTERY
	bool "Battery sampling task"

if TASK_RUNNER_TASK_BATTERY

module = TASK_BATTERY
module-str = Battery task
source "subsys/logging/Kconfig.template.log_config"

endif # TASK_RUNNER_TASK_BATTERY

config TASK_RUNNER_TASK_ENVIRONMENTAL
	bool "Environmental sensing task"

if TASK_RUNNER_TASK_ENVIRONMENTAL

module = TASK_ENVIRONMENTAL
module-str = Environmental task
source "subsys/logging/Kconfig.template.log_config"

endif # TASK_RUNNER_TASK_ENVIRONMENTAL
