# Task Runner tasks

config TASK_RUNNER_TASK_TDF_LOGGER
	bool "TDF logger task"

if TASK_RUNNER_TASK_TDF_LOGGER

config TASK_RUNNER_TASK_TDF_LOGGER_NRF_MODEM_MONITOR
	bool
	default y if INFUSE_NRF_MODEM_MONITOR

module = TASK_TDF_LOGGER
module-str = TDF logger task
source "subsys/logging/Kconfig.template.log_config"

config TASK_TDF_LOGGER_LOCATION_TIMEOUT_SEC
	int "Location sample age must be shorter than this to log"
	default 3600

config TASK_TDF_LOGGER_IMU_TIMEOUT_SEC
	int "IMU sample age must be shorter than this to log"
	default 3600

config TASK_TDF_LOGGER_ENVIRONMENTAL_TIMEOUT_SEC
	int "Environmental sample age must be shorter than this to log"
	default 3600

endif # TASK_RUNNER_TASK_TDF_LOGGER

config TASK_RUNNER_TASK_IMU
	bool "IMU task"
	select INFUSE_ZBUS_CHAN_IMU

if TASK_RUNNER_TASK_IMU

config TASK_RUNNER_TASK_IMU_MAX_FIFO
	int "Maximum number of samples that can be read"
	default 256

module = TASK_IMU
module-str = IMU task
source "subsys/logging/Kconfig.template.log_config"

endif # TASK_RUNNER_TASK_IMU

config TASK_RUNNER_TASK_BATTERY
	bool "Battery sampling task"
	select INFUSE_ZBUS_CHAN_BATTERY
	depends on ZBUS

if TASK_RUNNER_TASK_BATTERY

module = TASK_BATTERY
module-str = Battery task
source "subsys/logging/Kconfig.template.log_config"

endif # TASK_RUNNER_TASK_BATTERY

config TASK_RUNNER_TASK_ENVIRONMENTAL
	bool "Environmental sensing task"
	select INFUSE_ZBUS_CHAN_AMBIENT_ENV
	depends on ZBUS

if TASK_RUNNER_TASK_ENVIRONMENTAL

module = TASK_ENVIRONMENTAL
module-str = Environmental task
source "subsys/logging/Kconfig.template.log_config"

endif # TASK_RUNNER_TASK_ENVIRONMENTAL

config TASK_RUNNER_TASK_GNSS_UBX
	bool "u-blox GNSS task"
	select INFUSE_ZBUS_CHAN_LOCATION
	depends on GNSS_UBX_MODEM
	depends on GNSS
	depends on ZBUS

if TASK_RUNNER_TASK_GNSS_UBX

config TASK_RUNNER_GNSS_MINIMUM_ACCURACY_M
	int "Accuracies worse than this threshold are reported as (-181,-91)"
	default 100000

config TASK_RUNNER_GNSS_TIME_RESYNC_PERIOD_SEC
	int "Resynchronise time from GNSS every N seconds"
	default 3600
	help
	  When running continuously, the GNSS runner will resynchronise the local
	  clock from the GNSS modem every N seconds. Limiting how often this occurs
	  can minimise the number of time discontinuities when logging higher
	  frequency data (e.g. IMU samples). The default value is 1 hour.

module = TASK_GNSS_UBX
module-str = UBLOX GNSS task
source "subsys/logging/Kconfig.template.log_config"

endif # TASK_RUNNER_TASK_GNSS_UBX

config TASK_RUNNER_TASK_MOTION_ID
	bool "Motion identification task"
	depends on INFUSE_ZBUS_CHAN_IMU
	depends on ZBUS

if TASK_RUNNER_TASK_MOTION_ID

module = TASK_MOTION_ID
module-str = Motion ID task
source "subsys/logging/Kconfig.template.log_config"

endif # TASK_RUNNER_TASK_MOTION_ID
