# Infuse-IoT SDK key-value store

# Workaround for not being able to have commas in macro arguments
DT_CHOSEN_KV_PARTITION := infuse,kv-partition

config KV_STORE
	bool "Infuse-IoT key-value storage"
	depends on NVS
	depends on FLASH_MAP
	depends on $(dt_chosen_enabled,$(DT_CHOSEN_KV_PARTITION))

if KV_STORE

choice KV_STORE_BACKEND
	prompt "Storage backend for the KV store API"

config KV_STORE_NVS
	bool "KV store through the NVS API"
	depends on NVS

endchoice

module = KV_STORE
module-str = key-value store
source "subsys/logging/Kconfig.template.log_config"

config KV_STORE_INIT_PRIORITY
	int "Flash init priority"
	default 55
	help
	  KV store initialization priority. The default value of 55 is
	  later than the default FLASH_INIT_PRIORITY value (50).

endif # KV_STORE
