/*
 * Copyright (c) 2026 Embeint Holdings Pty Ltd
 * SPDX-License-Identifier: FSL-1.1-ALv2
 */

/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
		infuse,littlefs-partition = &littlefs_partition;
	};
};

/* Single application image, then 512 KiB of LittleFS before existing KV storage. */
/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;

&cpuapp_rram {
	partitions {
		slot0_partition: partition@0 {
			compatible = "zephyr,mapped-partition";
			label = "image-0";
			reg = <0x0 DT_SIZE_K(976)>;
		};

		littlefs_partition: partition@f4000 {
			compatible = "zephyr,mapped-partition";
			label = "littlefs";
			reg = <0xf4000 DT_SIZE_K(512)>;
		};
	};
};
