# Infuse Remote Procedure Calls

config INFUSE_RPC
	bool "Infuse-IoT Remote Procedure Call support"
	depends on EPACKET

if INFUSE_RPC

module = INFUSE_RPC
module-str = Infuse rpc
source "subsys/logging/Kconfig.template.log_config"

config INFUSE_RPC_CLIENT
	bool "Support for running commands on remote devices"

if INFUSE_RPC_CLIENT

config INFUSE_RPC_CLIENT_MAX_IN_FLIGHT
	int "Maximum number of RPC commands that can be pending at once"
	range 1 255
	default 3

config INFUSE_RPC_CLIENT_ALLOW_DEFAULT_HANDLER
	bool
	help
	  Allow the default interface packet handler to run on RPC_DATA and
	  RPC_RSP packets that the client initiated. Intended for certain tests.

endif # INFUSE_RPC_CLIENT

config INFUSE_RPC_SERVER_WATCHDOG
	bool "Install watchdog on the RPC server thread"
	depends on INFUSE_WATCHDOG
	default y

config INFUSE_RPC_SERVER_STACK_SIZE
	int "Server thread stack size"
	default 8192 if COVERAGE
	default 4096 if NETWORKING
	default 2048

config INFUSE_RPC_SERVER_THREAD_PRIORITY
	int "Thread priority for the server thread"
	default 10

config INFUSE_RPC_COMMON_NET_QUERY
	bool
	default INFUSE_RPC_COMMAND_WIFI_STATE || INFUSE_RPC_COMMAND_LTE_STATE

config INFUSE_RPC_COMMON_FILE_ACTIONS
	bool
	default INFUSE_RPC_COMMAND_COAP_DOWNLOAD || INFUSE_RPC_COMMAND_FILE_WRITE_BASIC
	select STREAM_FLASH if FLASH_HAS_PAGE_LAYOUT

config INFUSE_RPC_COMMON_FILE_ACTIONS_WRITE_BUFFER
	int "Size of write buffer for ensuring aligned writes to flash devices"
	default 256

config INFUSE_RPC_SERVER_WORKING_MEMORY
	int "Size of working memory for commands"
	default 4160 if INFUSE_RPC_COMMAND_COAP_DOWNLOAD && INFUSE_COAP_BACKEND_PARALLEL
	default 1088 if INFUSE_RPC_COMMAND_COAP_DOWNLOAD
	default 512 if INFUSE_RPC_COMMAND_FILE_WRITE_BASIC
	default 512 if INFUSE_RPC_COMMAND_DATA_LOGGER_READ
	default 16

rsource "commands/Kconfig"

endif # INFUSE_RPC
