# Infuse Remote Procedure Calls

config INFUSE_RPC
	bool "Infuse-IoT Remote Procedure Call support"
	depends on EPACKET

if INFUSE_RPC

module = INFUSE_RPC
module-str = Infuse rpc
source "subsys/logging/Kconfig.template.log_config"

config INFUSE_RPC_SERVER_WATCHDOG
	bool "Install watchdog on the RPC server thread"
	depends on INFUSE_WATCHDOG
	default y

config INFUSE_RPC_SERVER_STACK_SIZE
	int "Server thread stack size"
	default 8192 if COVERAGE
	default 4096 if NETWORKING
	default 2048

config INFUSE_RPC_COMMON_NET_QUERY
	bool
	default INFUSE_RPC_COMMAND_WIFI_STATE || INFUSE_RPC_COMMAND_LTE_STATE

config INFUSE_RPC_COMMAND_WORKING_MEMORY
	int "Size of working memory for command"
	default 1088 if INFUSE_RPC_COMMAND_COAP_DOWNLOAD
	default 16

rsource "commands/Kconfig.commands"

endif # INFUSE_RPC
