# Infuse snippet options

config SNIPPET_INFUSE
	bool "Application is compiling with Infuse snippet"

if SNIPPET_INFUSE

rsource "boards/auroch.defconfig"
rsource "boards/kudu.defconfig"
rsource "boards/mps2_an385.defconfig"
rsource "boards/nrf52_bsim.defconfig"
rsource "boards/nrf5340dk.defconfig"
rsource "boards/nrf7002dk.defconfig"
rsource "boards/nrf9151dk.defconfig"
rsource "boards/nrf9160dk.defconfig"
rsource "boards/nrf9161dk.defconfig"
rsource "boards/tauro.defconfig"
rsource "boards/thingy53.defconfig"
rsource "boards/thingy91x.defconfig"

endif # SNIPPET_INFUSE
