# Infuse IoT SDK networking defaults

if NETWORKING

# Core Protocols
configdefault NET_UDP
	default y
configdefault NET_IPV4
	default y
configdefault NET_IPV6
	# Disabled due to IPV6 addresses not being removed on network down
	default n

# IP assignment
configdefault NET_DHCPV4
	default y

# Sockets
configdefault NET_SOCKETS
	default y

# Zephyr networking
configdefault NET_CONNECTION_MANAGER
	default y
configdefault NET_CONNECTION_MANAGER_CONNECTIVITY_WIFI_MGMT
	default y if WIFI
configdefault CONN_MGR_WIFI_KV_STORE
	default y if WIFI

endif # NETWORKING
