# Infuse-IoT SDK options

config INFUSE_SDK
	bool "Build application with Infuse-IoT SDK"

rsource "drivers/Kconfig"
rsource "lib/Kconfig"
rsource "subsys/Kconfig"
rsource "snippets/infuse/Kconfig"

config INFUSE_DEFS_GENERATED_DOWNSTREAM
	bool "TDF, RPC and KV store definitions are provided by downstream"

if !INFUSE_DEFS_GENERATED_DOWNSTREAM
rsource "generated/Kconfig.kv_keys"
rsource "generated/Kconfig.rpc_commands"
endif # !INFUSE_DEFS_GENERATED_DOWNSTREAM

# Infuse-IoT SDK defaults
if INFUSE_SDK

config INFUSE_APPLICATION_ID
	hex "Unique application identifier"
	default 0x00

config INFUSE_APPLICATION_NAME
	string "Application name"
	default "dev"
	help
	  Typically set by the `release-build` scripts.

rsource "kconfig/Kconfig.defaults.core"
rsource "kconfig/Kconfig.defaults.nrf"
rsource "kconfig/Kconfig.defaults.stm32"
rsource "kconfig/Kconfig.defaults.sensor"
rsource "kconfig/Kconfig.defaults.log"

endif # INFUSE_SDK

rsource "kconfig/Kconfig.defaults.802154"
rsource "kconfig/Kconfig.defaults.bluetooth"
rsource "kconfig/Kconfig.defaults.net"

if ZTEST
rsource "kconfig/Kconfig.defaults.ztest"
endif
