# Infuse-IoT SDK Nordic defaults

if SOC_FAMILY_NRF

configdefault NRF_CC3XX_PLATFORM
	default y

# Oberon backend
configdefault NRF_OBERON
	default y if !BUILD_WITH_TFM

# LTE defaults
configdefault NET_IPV6_MLD
	default n if NRF_MODEM_LIB
configdefault NET_IPV6_NBR_CACHE
	default n if NRF_MODEM_LIB
configdefault NRF_MODEM_LIB_NET_IF
	default y
configdefault NRF_MODEM_LIB_NET_IF_APPLICATION_ERROR_HANDLER
	default y
choice NRF_MODEM_LIB_ON_FAULT
	default NRF_MODEM_LIB_ON_FAULT_APPLICATION_SPECIFIC
endchoice

# WiFi defaults
configdefault WIFI_NRF700X
	default y if WIFI
configdefault NET_L2_ETHERNET
	default y if WIFI_NRF700X
configdefault WPA_SUPP
	default y if WIFI_NRF700X
configdefault NET_CONNECTION_MANAGER_MONITOR_STACK_SIZE
	default 4096 if NRF700X_STA_MODE
	default 1024 if NRF_MODEM_LIB_NET_IF

# MbedTLS requirements for WiFi connectivity
configdefault MBEDTLS_ECP_ALL_ENABLED
	default y if NRF700X_STA_MODE
configdefault MBEDTLS_ECP_C
	default y if NRF700X_STA_MODE
configdefault MBEDTLS_MAC_CMAC_ENABLED
	default y if NRF700X_STA_MODE
configdefault MBEDTLS_CIPHER_AES_ENABLED
	default y if NRF700X_STA_MODE
configdefault MBEDTLS_CIPHER_MODE_CTR_ENABLED
	default y if NRF700X_STA_MODE

# UART0 is the standard serial port on Nordic boards
configdefault UART_0_NRF_TX_BUFFER_SIZE
	default 1024 if EPACKET_INTERFACE_SERIAL

endif # SOC_FAMILY_NRF
