# Infuse-IoT SDK core defaults

# Picolibc is smaller and more performant
choice LIBC_IMPLEMENTATION
	default PICOLIBC if !NATIVE_BUILD
endchoice

configdefault MAIN_STACK_SIZE
	default 2048

# Reboot state storage
configdefault REBOOT
	default y
configdefault HWINFO
	default y
configdefault INFUSE_REBOOT
	default y if !ZTEST
configdefault RETENTION
	default y
configdefault RETENTION_MUTEX_FORCE_DISABLE
	default y
configdefault RETAINED_MEM
	default y
configdefault RETAINED_MEM_MUTEX_FORCE_DISABLE
	default y

# Power management
configdefault PM_DEVICE
	default y
configdefault PM_DEVICE_RUNTIME
	default y

# Watchdog
configdefault WATCHDOG
	default y if !ZTEST
configdefault INFUSE_WATCHDOG
	default y if !ZTEST

# Zephyr bus
configdefault ZBUS
	default y
configdefault ZBUS_CHANNEL_ID
	default y
configdefault ZBUS_CHANNEL_PUBLISH_STATS
	default y

# ePacket API
configdefault EPACKET
	default y
configdefault POLL
	default y
configdefault NET_BUF
	default y
configdefault EVENTS
	default y
configdefault UART_INTERRUPT_DRIVEN
	default y

# Remote Procedure Calls
configdefault INFUSE_RPC
	default y

configdefault TDF
	default y

configdefault DATA_LOGGER
	default y
configdefault FILE_SYSTEM_RAW_API
	default y

configdefault INFUSE_EPOCH_TIME
	default y

# Application management
configdefault STREAM_FLASH
	default y if BOOTLOADER_MCUBOOT
configdefault IMG_MANAGER
	default y if BOOTLOADER_MCUBOOT

# KV store
configdefault FLASH
	default y
configdefault FLASH_MAP
	default y
configdefault NVS
	default y
configdefault KV_STORE
	default y
configdefault KV_STORE_REBOOTS
	default y

# Power Management
configdefault POWER_DOMAIN
	default y

# Random numbers
configdefault ENTROPY_GENERATOR
	default y
choice RNG_GENERATOR_CHOICE
	# PSA API adds significant overhead for standard random numbers.
	# Cryptographically secure random numbers directly from PSA
	# can still be obtained with sys_csrand_get.
	default XOSHIRO_RANDOM_GENERATOR if ENTROPY_PSA_CRYPTO_RNG
endchoice

# Trusted-Firmware M
configdefault TFM_MCUBOOT_IMAGE_NUMBER
	# A single image reduces upgrade complexity
	default 1
configdefault TFM_DEVICETREE_LAYOUT
	# Only a subset of boards currently support this
	default y if BOARD_THINGY53_NRF5340_CPUAPP_NS
	default y if BOARD_NRF5340DK_NRF5340_CPUAPP_NS
	default y if BOARD_NRF7002DK_NRF5340_CPUAPP_NS
	default y if BOARD_NRF9151DK_NRF9151_NS
	default y if BOARD_NRF9161DK_NRF9161_NS
configdefault TFM_BL2_SPI_NOR_FLASH
	default y if $(dt_has_compat,$(DT_COMPAT_JEDEC_SPI_NOR)) && TFM_DEVICETREE_LAYOUT
configdefault TFM_BL2_QSPI_FLASH
	default y if $(dt_has_compat,$(DT_COMPAT_NORDIC_QSPI_NOR)) && TFM_DEVICETREE_LAYOUT

# MbedTLS through the PSA API
configdefault MBEDTLS
	default y
configdefault MBEDTLS_ENABLE_HEAP
	default y
configdefault MBEDTLS_HEAP_SIZE
	default 8192
configdefault MBEDTLS_USER_CONFIG_ENABLE
	default y
configdefault MBEDTLS_USER_CONFIG_FILE
	default "infuse/crypto/mbedtls/infuse_user_config.h"
configdefault MBEDTLS_PSA_CRYPTO_C
	default y

choice MBEDTLS_PSA_CRYPTO_RND_SOURCE
	default MBEDTLS_PSA_CRYPTO_EXTERNAL_RNG if NRF_CC3XX_PLATFORM
endchoice
configdefault MBEDTLS_ENTROPY_ENABLED
	default y
configdefault MBEDTLS_ZEPHYR_ENTROPY
	default y if !NRF_CC3XX_PLATFORM
# Key derivation
configdefault PSA_WANT_ALG_HKDF
	default y
configdefault PSA_WANT_ALG_ECDH
	default y
configdefault PSA_WANT_ECC_MONTGOMERY_255
	default y
configdefault PSA_WANT_KEY_TYPE_ECC_PUBLIC_KEY
	default y
configdefault PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_GENERATE
	default y
configdefault INFUSE_SECURE_STORAGE
	default y
# chacha20-poly1305 AEAD
configdefault PSA_WANT_KEY_TYPE_CHACHA20
	default y
configdefault PSA_WANT_ALG_CHACHA20_POLY1305
	default y

# Logging
configdefault PRINTK
	default y
configdefault LOG
	default y
configdefault LOG_PRINTK
	default y

# Debug options
configdefault DEBUG_INFO
	default y
configdefault DEBUG_THREAD_INFO
	default y
configdefault OUTPUT_DISASSEMBLY
	default y if !ZTEST
