# Embedded Intelligence SDK options

config EIS_SDK
	bool "Build application with EIS"

rsource "lib/Kconfig"
rsource "subsys/Kconfig"

# EIS defaults
rsource "Kconfig.defaults.core"
rsource "Kconfig.defaults.net"
