# Infuse IoT SDK Nordic defaults

if SOC_FAMILY_NRF

configdefault NRF_CC3XX_PLATFORM
	default y

# Oberon backend
configdefault NRF_OBERON
	default y if !BUILD_WITH_TFM
configdefault MBEDTLS_USER_CONFIG_ENABLE
	default y if NRF_OBERON
configdefault MBEDTLS_USER_CONFIG_FILE
	default "infuse/crypto/mbedtls/oberon_user_config.h" if NRF_OBERON

# Undefined symbols from sdk-nrf referenced by nrfxlib
# Defined here for compliance checks
config MULTITHREADING_LOCK
	bool
config NORDIC_SECURITY_BACKEND
	bool
config TFM_CRYPTO_BUILTIN_KEYS
	bool
config ZIGBEE
	bool
config ZIGBEE_ROLE_END_DEVICE
	bool
config TEMP_NRF5_MPSL
	bool
config PARTITION_MANAGER_ENABLED
	bool
config XIP_SPLIT_IMAGE
	bool

endif # SOC_FAMILY_NRF
