# Infuse-IoT SDK options

config INFUSE_SDK
	bool "Build application with Infuse-IoT SDK"

rsource "drivers/Kconfig"
rsource "lib/Kconfig"
rsource "subsys/Kconfig"
rsource "snippets/infuse/Kconfig"

# Infuse-IoT SDK defaults
if INFUSE_SDK

config INFUSE_APPLICATION_ID
	hex "Unique application identifier"
	default 0x00

rsource "Kconfig.defaults.core"
rsource "Kconfig.defaults.net"
rsource "Kconfig.defaults.nrf"
rsource "Kconfig.defaults.stm32"
rsource "Kconfig.defaults.sensor"
rsource "Kconfig.defaults.log"

endif # INFUSE_SDK

rsource "Kconfig.defaults.bluetooth"

if ZTEST
rsource "Kconfig.defaults.ztest"
endif
