# Infuse-IoT SDK sensor defaults

configdefault SENSOR
	default y
configdefault INFUSE_IMU
	default y if "$(dt_alias_enabled,imu0)"
configdefault GNSS
	default y if "$(dt_alias_enabled,gnss)"
configdefault FUEL_GAUGE
	default y if "$(dt_alias_enabled,fuel-gauge0)"

# We want to use UBX messages directly
configdefault GNSS_U_BLOX_NO_API_COMPAT
	default y
configdefault GNSS_U_BLOX_CONSTELLATION_API_COMPAT
	default y

# We want to trigger samples, not run sampling permanently
choice BME280_MODE
	default BME280_MODE_FORCED
endchoice

# Bring SD card init forward so it occurs before data loggers
configdefault SDHC_INIT_PRIORITY
	default 75
configdefault SD_INIT_PRIORITY
	default 76
