# Embedded Intelligence SDK Nordic defaults

configdefault NRF_CC3XX_PLATFORM
	default y

# Undefined symbols from sdk-nrf referenced by nrfxlib
# Defined here for compliance checks
config MPSL
	bool
config MULTITHREADING_LOCK
	bool
config NORDIC_SECURITY_BACKEND
	bool
config ZIGBEE
	bool
config ZIGBEE_ROLE_END_DEVICE
	bool
config TEMP_NRF5_MPSL
	bool
