# Infuse IoT SDK core defaults

# Picolibc is smaller and more performant
choice LIBC_IMPLEMENTATION
	default PICOLIBC if !NATIVE_BUILD
endchoice

configdefault MAIN_STACK_SIZE
	default 2048

# Reboot state storage
configdefault REBOOT
	default y
configdefault HWINFO
	default y
configdefault INFUSE_REBOOT
	default y if !ZTEST
configdefault RETENTION
	default y
configdefault RETENTION_MUTEX_FORCE_DISABLE
	default y
configdefault RETAINED_MEM
	default y
configdefault RETAINED_MEM_MUTEX_FORCE_DISABLE
	default y

# ePacket API
configdefault EPACKET
	default y
configdefault POLL
	default y
configdefault NET_BUF
	default y
configdefault EVENTS
	default y
configdefault UART_INTERRUPT_DRIVEN
	default y

# Remote Procedure Calls
configdefault INFUSE_RPC
	default y

configdefault TDF
	default y

configdefault INFUSE_CIVIL_TIME
	default y

# KV store
configdefault FLASH
	default y
configdefault FLASH_MAP
	default y
configdefault NVS
	default y
configdefault KV_STORE
	default y
configdefault KV_STORE_REBOOTS
	default y

# Power Management
configdefault POWER_DOMAIN
	default y

# Random numbers
configdefault ENTROPY_GENERATOR
	default y

# MbedTLS through the PSA API
configdefault MBEDTLS
	default y
configdefault MBEDTLS_ENABLE_HEAP
	default y
configdefault MBEDTLS_HEAP_SIZE
	default 8192
configdefault MBEDTLS_PSA_CRYPTO_C
	default y
configdefault MBEDTLS_PSA_CRYPTO_EXTERNAL_RNG
	default y if NRF_CC3XX_PLATFORM
configdefault MBEDTLS_ENTROPY_ENABLED
	default y
configdefault MBEDTLS_ZEPHYR_ENTROPY
	default y if !NRF_CC3XX_PLATFORM
# Key derivation
configdefault MBEDTLS_HKDF_C
	default y
# chacha20-poly1305 AEAD
configdefault MBEDTLS_CHACHAPOLY_AEAD_ENABLED
	default y
configdefault MBEDTLS_CIPHER_CHACHA20_ENABLED
	default y
configdefault MBEDTLS_MAC_POLY1305_ENABLED
	default y

# Logging
configdefault PRINTK
	default y
configdefault LOG
	default y
configdefault LOG_PRINTK
	default y

# Debug options
configdefault DEBUG_INFO
	default y
configdefault DEBUG_THREAD_INFO
	default y
configdefault OUTPUT_DISASSEMBLY
	default y if !ZTEST
