# Infuse-IoT SDK secure storage

choice MBEDTLS_PSA_ITS_BACKEND

config INFUSE_SECURE_STORAGE
	bool "Infuse-IoT KV store based secure storage"
	depends on !BUILD_WITH_TFM
	depends on KV_STORE
	select MBEDTLS
	select MBEDTLS_PSA_CRYPTO_C
	select HWINFO

endchoice

if INFUSE_SECURE_STORAGE

config INFUSE_SECURE_STORAGE_MAX_SIZE
	int "Maximum size of stored values"
	default 100

endif
