# Infuse Data Logging backends

config DATA_LOGGER_EPACKET
	bool "Logging to ePacket instance"
	depends on DT_HAS_EMBEINT_DATA_LOGGER_EPACKET_ENABLED
	depends on EPACKET
	default y

config DATA_LOGGER_FLASH_MAP
	bool "Logging to flash_map instance"
	depends on DT_HAS_EMBEINT_DATA_LOGGER_FLASH_MAP_ENABLED
	depends on FLASH_MAP
	default y

config DATA_LOGGER_EXFAT
	bool "Logging to exFAT filesystem"
	depends on DT_HAS_EMBEINT_DATA_LOGGER_EXFAT_ENABLED
	select FILE_SYSTEM
	select DISK_ACCESS
	select FAT_FILESYSTEM_ELM
	select FS_FATFS_EXFAT
	select FS_FATFS_HAS_RTC
	select FS_FATFS_USE_LABEL
	select FS_FATFS_USE_EXPAND
	select FS_FATFS_USE_FIND
	default y

if DATA_LOGGER_EXFAT

module = DATA_LOGGER_EXFAT
module-str = Data Logger exFAT
source "subsys/logging/Kconfig.template.log_config"

config DATA_LOGGER_EXFAT_FILE_SIZE
	int "Size of individual .bin files on filesystem"
	default 10485760
	help
	  Smaller file size provide finer visual indication of the amount of
	  data logged, at the cost of increased filesystem overhead. Default
	  size is 10MB.

endif
