# Infuse-IoT zbus channel configuration

config INFUSE_ZBUS_CHAN_BATTERY
	bool
	help
	  INFUSE_ZBUS_CHAN_BATTERY producer is compiled in

config INFUSE_ZBUS_CHAN_AMBIENT_ENV
	bool
	help
	  INFUSE_ZBUS_CHAN_AMBIENT_ENV producer is compiled in

config INFUSE_ZBUS_CHAN_IMU
	bool
	help
	  INFUSE_ZBUS_CHAN_IMU producer is compiled in

config INFUSE_ZBUS_CHAN_IMU_ACC_MAG
	bool
	help
	  INFUSE_ZBUS_CHAN_IMU_ACC_MAG producer is compiled in

config INFUSE_ZBUS_CHAN_LOCATION
	bool
	help
	  INFUSE_ZBUS_CHAN_LOCATION producer is compiled in

config INFUSE_ZBUS_CHAN_MOVEMENT_STD_DEV
	bool
	help
	  INFUSE_ZBUS_CHAN_MOVEMENT_STD_DEV producer is compiled in

config INFUSE_ZBUS_CHAN_TILT
	bool
	help
	  INFUSE_ZBUS_CHAN_TILT producer is compiled in

config INFUSE_ZBUS_CHAN_UBX_NAV_PVT
	bool
	help
	  INFUSE_ZBUS_CHAN_UBX_NAV_PVT producer is compiled in

config INFUSE_ZBUS_CHAN_NRF9X_NAV_PVT
	bool
	help
	  INFUSE_ZBUS_CHAN_NRF9X_NAV_PVT producer is compiled in

config INFUSE_ZBUS_CHAN_SOC_TEMPERATURE
	bool
	help
	  INFUSE_ZBUS_CHAN_SOC_TEMPERATURE producer is compiled in
