/ {
	data_logger_dummy: data_logger_dummy {
		compatible = "embeint,data-logger-epacket", "embeint,data-logger";
		epacket = <&epacket_dummy>;

		tdf_logger_dummy: tdf_logger_dummy {
			compatible = "embeint,tdf-data-logger";
		};
	};

	epacket_dummy: epacket_dummy {
		compatible = "embeint,epacket-dummy";
		zephyr,pm-device-runtime-auto;
	};

	sim_env0: generic_sim_env0{
		compatible = "zephyr,generic-sim-sensor";
		status = "okay";
		zephyr,pm-device-runtime-auto;
	};

	sim_env1: generic_sim_env1 {
		compatible = "zephyr,generic-sim-sensor";
		status = "okay";
		zephyr,pm-device-runtime-auto;
	};
};
