# Built-in Infuse-IoT algorithms

config ALGORITHM_RUNNER_ALG_STATIONARY_WINDOWED
	bool "Stationary device detection algorithm"
	depends on INFUSE_APPLICATION_STATES
	depends on INFUSE_ZBUS_CHAN_IMU_ACC_MAG
	select INFUSE_ZBUS_CHAN_MOVEMENT_STD_DEV

if ALGORITHM_RUNNER_ALG_STATIONARY_WINDOWED

module = ALG_STATIONARY_WINDOWED
module-str = ALG Stationary
source "subsys/logging/Kconfig.template.log_config"

endif # ALGORITHM_RUNNER_ALG_STATIONARY_WINDOWED

config ALGORITHM_RUNNER_ALG_TILT
	bool "Tilt calculation algorithm"
	depends on INFUSE_ZBUS_CHAN_IMU
	depends on KV_STORE
	depends on KV_STORE_KEY_GRAVITY_REFERENCE
	select INFUSE_ZBUS_CHAN_TILT

if ALGORITHM_RUNNER_ALG_TILT

module = ALG_TILT
module-str = ALG Tilt
source "subsys/logging/Kconfig.template.log_config"

endif # ALGORITHM_RUNNER_ALG_TILT

config ALGORITHM_RUNNER_ALG_MOVEMENT_THRESHOLD
	bool "Movement detection through static threshold algorithm"
	depends on INFUSE_APPLICATION_STATES
	depends on INFUSE_ZBUS_CHAN_IMU_ACC_MAG

if ALGORITHM_RUNNER_ALG_MOVEMENT_THRESHOLD

module = ALG_MOVEMENT_THRESHOLD
module-str = ALG Threshold
source "subsys/logging/Kconfig.template.log_config"

endif # ALGORITHM_RUNNER_ALG_MOVEMENT_THRESHOLD

config ALGORITHM_RUNNER_ALG_DEMO
	bool "Demo implementations of various algorithm types"
	depends on INFUSE_ZBUS_CHAN_IMU
