#include <common/nordic/infuse_nrf52840.dtsi>

/ {
    epacket_serial: epacket_serial {
        compatible = "embeint,epacket-serial";
        serial = <&uart0>;
    };

    data_logger_serial: data_logger_serial {
        compatible = "embeint,data-logger-epacket", "embeint,data-logger";
        epacket = <&epacket_serial>;

        tdf_logger_serial: tdf_logger_serial {
            compatible = "embeint,tdf-data-logger";
        };
    };
};
