/ {
	epacket_serial: epacket_serial {
		compatible = "embeint,epacket-serial";
		serial = <&uart0>;
	};

	data_logger_serial: data_logger_serial {
		compatible = "embeint,data-logger-epacket", "embeint,data-logger";
		epacket = <&epacket_serial>;

		tdf_logger_serial: tdf_logger_serial {
			compatible = "embeint,tdf-data-logger";
		};
	};

	epacket_bt_adv: epacket_bt_adv {
		compatible = "embeint,epacket-bt-adv";
	};

	data_logger_bt_adv: data_logger_bt_adv {
		compatible = "embeint,data-logger-epacket", "embeint,data-logger";
		epacket = <&epacket_bt_adv>;

		tdf_logger_bt_adv: tdf_logger_bt_adv {
			compatible = "embeint,tdf-data-logger";
		};
	};
};
