/*
 * Copyright (c) 2025 Embeint Holdings Pty Ltd
 * SPDX-License-Identifier: FSL-1.1-ALv2
 */

#include <common/nordic/infuse_nrf54l15_cpuapp.dtsi>
#include <common/infuse_bluetooth.dtsi>

/ {
	chosen {
		infuse,reboot-state = &retention0;
		infuse,kv-partition = &storage_partition;
	};

	aliases {
		environmental0 = &temp;
	};

	epacket_serial: epacket_serial {
		compatible = "embeint,epacket-serial";
		serial = <&uart20>;
	};

	data_logger_serial: data_logger_serial {
		compatible = "embeint,data-logger-epacket", "embeint,data-logger";
		epacket = <&epacket_serial>;

		tdf_logger_serial: tdf_logger_serial {
			compatible = "embeint,tdf-data-logger";
		};
	};

	data_logger_flash: data_logger_flash {
		compatible = "embeint,data-logger-flash-map", "embeint,data-logger";
		partition = <&data_logger_partition>;

		tdf_logger_flash: tdf_logger_flash {
			compatible = "embeint,tdf-data-logger";
		};
	};
};

&uart20 {
	zephyr,pm-device-runtime-auto;
};
&spi00 {
	zephyr,pm-device-runtime-auto;
};
&mx25r64 {
	zephyr,pm-device-runtime-auto;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		file_partition: partition@0 {
			label = "files";
			reg = <0x00000000 0x00080000>;
		};
		data_logger_partition: partition@80000 {
			label = "data_logger";
			reg = <0x00080000 0x00780000>;
		};
	};
};


#ifdef INFUSE_IS_BOOTLOADER

/* Bootloader doesn't know about external flash */
/delete-node/ &data_logger_flash;
/delete-node/ &file_partition;
/delete-node/ &data_logger_partition;

#endif /* INFUSE_IS_BOOTLOADER */
