if BOARD_NRF9161DK_NRF9161_NS

configdefault NETWORKING
    default y if !MCUBOOT

configdefault NRF_MODEM_LIB
    default y if NETWORKING || GNSS

configdefault LTE_LINK_CONTROL
    default y if NETWORKING

configdefault MODEM_ANTENNA
    default y

# External flash layout needs to match internal
configdefault SPI_NOR_FLASH_LAYOUT_PAGE_SIZE
    default 4096 if MCUBOOT

endif # BOARD_NRF9161DK_NRF9161_NS
