#include <zephyr/dt-bindings/gpio/gpio.h>
#include <common/nordic/infuse_nrf5340_cpuapp.dtsi>

/* Dynamic power domains, not regulators that are always on */
/delete-node/ &regulator_3v3;
/delete-node/ &sensor_pwr_ctrl;

/ {
    power_domain_3v3: power_domain_3v3 {
        compatible = "power-domain-gpio";
        enable-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
    };

    power_domain_sensor: tck106ag {
        compatible = "power-domain-gpio";
		enable-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        /* 2ms delay for BME688 */
        startup-delay-us = <2000>;
    };

    epacket_serial: epacket_serial {
		compatible = "embeint,epacket-serial";
		serial = <&cdc_acm_uart>;
	};

	data_logger_serial: data_logger_serial {
		compatible = "embeint,data-logger-epacket", "embeint,data-logger";
		epacket = <&epacket_serial>;

		tdf_logger_serial: tdf_logger_serial {
			compatible = "embeint,tdf-data-logger";
		};
	};
};

&bme688 {
    power-domain = <&power_domain_sensor>;
};

&bh1749 {
    power-domain = <&power_domain_sensor>;
};

&bmi270 {
    status = "okay";
    irq-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
    power-domain = <&power_domain_sensor>;
};

&bmm150 {
    power-domain = <&power_domain_sensor>;
};
