if BOARD_THINGY91X_NRF9151_NS

configdefault TFM_DEVICETREE_LAYOUT
    default y

configdefault NETWORKING
    default y if !MCUBOOT

configdefault NRF_MODEM_LIB
    default y if NETWORKING

configdefault LTE_LINK_CONTROL
    default y if NETWORKING

configdefault MODEM_ANTENNA
    default y

configdefault MODEM_ANTENNA_AT_MIPIRFFEDEV
	default "AT%XMIPIRFFEDEV=1,4,71,198,248"
configdefault MODEM_ANTENNA_AT_MIPIRFFECTRL_INIT
	default "AT%XMIPIRFFECTRL=1,0,1,28,248"
configdefault MODEM_ANTENNA_AT_MIPIRFFECTRL_ON
	default "AT%XMIPIRFFECTRL=1,1,1,28,56,13,0,0,8,8,715,4,4,770,12,12,829,11,11,863,130,130,892,1,1,939,129,129,978,26,26,1042,8,8,1118,4,4,1270,12,12,1386,14,14,1523,130,130,2200"
configdefault MODEM_ANTENNA_AT_MIPIRFFECTRL_OFF
	default "AT%XMIPIRFFECTRL=1,2,1,28,184"
configdefault MODEM_ANTENNA_AT_MIPIRFFECTRL_PWROFF
	default "AT%XMIPIRFFECTRL=1,3,1,28,184"
configdefault MODEM_ANTENNA_AT_COEX0
	default "AT\%XCOEX0=1,1,1565,1586"

# External flash layout needs to match internal
configdefault SPI_NOR_FLASH_LAYOUT_PAGE_SIZE
    default 4096 if MCUBOOT

endif # BOARD_THINGY91X_NRF9151_NS
