#include <common/nordic/infuse_nrf5340_cpuapp_ns.dtsi>
#include "thingy53_nrf5340_cpuapp_common.dtsi"

/* Allocate more memory to non-secure application  */
/delete-node/ &sram0_s;
/delete-node/ &sram0_ns;

/* MCUboot secondary on external flash */
/delete-node/ &slot0_partition;
/delete-node/ &slot0_ns_partition;
/delete-node/ &slot1_partition;
/delete-node/ &slot1_ns_partition;
/delete-node/ &scratch_partition;

/ {
	tfm_config {
		compatible = "arm,trusted-firmware-m";
		sram = <&sram0>;
		sram-secure = <&sram0_s>;
		sram-nonsecure = <&sram0_ns>;
		spu-flash-region-size = <0x00004000>;
		spu-sram-region-size = <0x00002000>;

		onboard_flash {
			driver = "Driver_FLASH0";
			complete = <&flash0>;
			img-bl2 = <&boot_partition>;
			img-primary-secure = <&slot0_partition>;
			img-primary-nonsecure = <&slot0_ns_partition>;
			partition-ps = <&tfm_ps_partition>;
			partition-its = <&tfm_its_partition>;
			partition-otp = <&tfm_otp_partition>;
			partition-nonsecure-storage = <&storage_partition>;
		};

		qspi_flash {
			driver = "Driver_FLASH1";
			define-prefix = "QSPI_";
			complete = <&mx25r64>;
			erase-block-size = <4096>;
			write-block-size = <1>;
			img-secondary-secure = <&slot1_partition>;
			img-secondary-nonsecure = <&slot1_ns_partition>;
			/* Expected by Laird QSPI driver.
			 * Ideally driver would consume pinctrl values and
			 * these defines could be dropped.
			 */
			extra-defines =
				"RTE_QSPI0=1",
				"RTE_QSPI0_IO0_PIN=13",
				"RTE_QSPI0_IO1_PIN=14",
				"RTE_QSPI0_IO2_PIN=15",
				"RTE_QSPI0_IO3_PIN=16",
				"RTE_QSPI0_SCL_PIN=17",
				"RTE_QSPI0_CSN_PIN=18";
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		sram0_s: image_s@20000000 {
			/* Secure image memory */
			reg = <0x20000000 DT_SIZE_K(96)>;
		};

		sram0_ns: image_ns@20018000 {
			/* Non-Secure image memory */
			reg = <0x20018000 DT_SIZE_K(352)>;
		};
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>;
		};
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x30000>;
		};
		slot0_ns_partition: partition@40000 {
			label = "image-0-nonsecure";
			reg = <0x00040000 0xC0000>;
		};
		tfm_ps_partition: partition@f0000 {
			label = "tfm-ps";
			reg = <0x000f0000 0x00004000>;
		};
		tfm_its_partition: partition@f4000 {
			label = "tfm-its";
			reg = <0x000f4000 0x00002000>;
		};
		tfm_otp_partition: partition@f6000 {
			label = "tfm-otp";
			reg = <0x000f6000 0x00002000>;
		};
	};
};

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot1_partition: partition@0 {
			label = "image-1";
			reg = <0x00000000 0x30000>;
		};
		slot1_ns_partition: partition@30000 {
			label = "image-1-nonsecure";
			reg = <0x00030000 0xC0000>;
		};
	};
};
