# Infuse-IoT Task Runner

config TASK_RUNNER
	bool "Infuse-IoT Task Runner"
	select INFUSE_APPLICATION_STATES
	select INFUSE_MATH
	select INFUSE_WORKQ
	select POLL

if TASK_RUNNER

config TASK_RUNNER_DEFAULT_SCHEDULES_ID
	int "Increment in order to reset saved schedules to default values"
	default 0
	depends on KV_STORE

config TASK_RUNNER_CUSTOM_TASK_DEFINITIONS
	bool "Enable custom task definitions in `struct task_schedule`"

config TASK_RUNNER_CUSTOM_TASK_DEFINITIONS_PATH
	string "Path to custom task definition header"
	depends on TASK_RUNNER_CUSTOM_TASK_DEFINITIONS
	help
	  Path to a `.h` file that defines a type `union custom_task_arguments`
	  compatible with `union infuse_task_arguments`.

config TASK_RUNNER_INFUSE_WATCHDOG
	bool "Install watchdog on the Task Runner iteration function"
	depends on INFUSE_WATCHDOG
	default y

config TASK_RUNNER_AUTO_ITERATE
	bool "Enable the auto iteration functions"
	depends on INFUSE_EPOCH_TIME
	depends on ZBUS
	depends on ZBUS_CHANNEL_PUBLISH_STATS

config TASK_RUNNER_WORKQ_STACK_SIZE
	int "Stack size of the Task Runner workqueue"
	default 8192 if COVERAGE
	default 2048

config TASK_RUNNER_PER_SCHEDULE_STORAGE
	int "Persistent per-schedule storage available for tasks"
	default 4

rsource "tasks/Kconfig"

module = TASK_RUNNER
module-str = Task Runner
source "subsys/logging/Kconfig.template.log_config"

endif # TASK_RUNNER
