# Infuse-IoT Memfault configuration

if MEMFAULT

config MEMFAULT_INFUSE_CONFIG
	bool "Use Infuse-IoT configuration files"
	default y

config MEMFAULT_METRICS_HEARTBEAT_INTERVAL_SECS
	int "Period of the Memfault metrics collection"
	depends on MEMFAULT_METRICS
	default 3600

endif # MEMFAULT
