/*
 * Copyright (c) 2024 Embeint Inc
 *
 * SPDX-License-Identifier: FSL-1.1-ALv2
 */

/* Allocate more memory to the modem library to enable tracing */
/delete-node/ &sram0_ns_modem;
/delete-node/ &sram0_ns_app;

/ {
	reserved-memory {
		sram0_ns_modem: image_ns_modem@20010000 {
			/* Modem (shared) memory */
			reg = <0x20010000 DT_SIZE_K(40)>;
		};

		sram0_ns_app: image_ns_app@2001a000 {
			/* Non-Secure application memory */
			reg = <0x2001a000 DT_SIZE_K(152)>;
		};
	};
};
