# DNS helpers

config INFUSE_DNS
	bool "Helper to synchronise DNS queries between modules"
	depends on NET_SOCKETS
	depends on DNS_RESOLVER || NET_SOCKETS_OFFLOAD
	default y
	help
	  The DNS library can only handle `DNS_NUM_CONCUR_QUERIES`
	  queries at once, returning errors otherwise. This library
	  mediates access to the shared resource, blocking until a
	  query slot is available before running.

config INFUSE_DNS_ASYNC
	bool "Asynchronous variant of INFUSE_DNS"
	depends on INFUSE_DNS
	depends on DNS_RESOLVER
	default y
