# Firmware update values

config INFUSE_APPLICATION_ID
	hex "Unique application identifier"
	default 0xB7000001

configdefault IMG_MANAGER
	default y

configdefault INFUSE_CPATCH
	default y if BOOTLOADER_MCUBOOT

# Softdevice default values

configdefault BT_CTLR_SDC_PERIPHERAL_COUNT
	default 3

configdefault BT_CTLR_SDC_SCAN_BUFFER_COUNT
	default 5

configdefault BT_CTLR_SDC_TX_PACKET_COUNT
	default 5

configdefault BT_CTLR_SDC_RX_PACKET_COUNT
	default 5

source "Kconfig.zephyr"
