# Firmware update values

config INFUSE_APPLICATION_ID
	hex "Unique application identifier"
	default 0xB7000001

configdefault IMG_MANAGER
	default y

configdefault INFUSE_CPATCH
	default y if BOOTLOADER_MCUBOOT

configdefault NRF_GRTC_CLEAR_AT_INIT
	default y

config HEAP_MEM_POOL_ADD_SIZE_HCI_IPC
	int "Heap size required by IPC library"
	depends on DT_HAS_ZEPHYR_BT_HCI_IPC_ENABLED
	default 4096

# Reduced RAM footprint on memory constrained platforms
configdefault BT_MAX_CONN
	default 4 if SOC_NRF52832
	default 8 if SOC_NRF52833
	default 16

configdefault BT_EXT_ADV_MAX_ADV_SET
	default 4 if SOC_NRF52832
	default 6

# Softdevice default values

configdefault BT_CTLR_SDC_PERIPHERAL_COUNT
	default 3

configdefault BT_CTLR_SDC_SCAN_BUFFER_COUNT
	default 5

configdefault BT_CTLR_SDC_TX_PACKET_COUNT
	default 5

configdefault BT_CTLR_SDC_RX_PACKET_COUNT
	default 5

source "Kconfig.zephyr"
