# Infuse-IoT COAP helpers

config INFUSE_COAP
	bool "Infuse-IoT COAP helpers"
	depends on COAP

if INFUSE_COAP

config INFUSE_COAP_MAX_URI_SEGMENTS
	int "Maximum number of resource URI segments"
	default 4
	help
	  Maximum number of resource URI segments the library can
	  handle. For example "path/to/resource" has 3 segments.

config INFUSE_COAP_MAX_TIMEOUTS
	int "Maximum number of times to attempt reading a chunk"
	default 3
	help
	  When polling for a chunk times out, the library will retry the
	  download this many times before giving up.

choice INFUSE_COAP_BACKEND
	prompt "Infuse CoAP download implementation"
	default INFUSE_COAP_BACKEND_SERIAL

config INFUSE_COAP_BACKEND_SERIAL
	bool "Reception of block request N is required before block N+1 requested"

endchoice

module = INFUSE_COAP
module-str = infuse_coap
source "subsys/logging/Kconfig.template.log_config"

endif # INFUSE_COAP
