# Infuse-IoT COAP helpers

config INFUSE_COAP
	bool "Infuse-IoT COAP helpers"
	depends on COAP

if INFUSE_COAP

config INFUSE_COAP_MAX_URI_SEGMENTS
	int "Maximum number of resource URI segments"
	default 4
	help
	  Maximum number of resource URI segments the library can
	  handle. For example "path/to/resource" has 3 segments.

config INFUSE_COAP_MAX_TIMEOUTS
	int "Maximum number of times to attempt reading a chunk"
	default 3
	help
	  When polling for a chunk times out, the library will retry the
	  download this many times before giving up.

choice INFUSE_COAP_BACKEND
	prompt "Infuse CoAP download implementation"
	default INFUSE_COAP_BACKEND_PARALLEL

config INFUSE_COAP_BACKEND_SERIAL
	bool "Reception of block request N is required before block N+1 requested"
	help
	  Basic backend that sends a single request and waits for the response before
	  taking further action.

config INFUSE_COAP_BACKEND_PARALLEL
	bool "Multiple block requests can be in-flight"
	help
	  More complicated implementation that requires a larger working memory array,
	  but can dramatically increase download throughputs.

endchoice

config INFUSE_COAP_BACKEND_PARALLEL_MAX_IN_FLIGHT
	int "Maximum number of requests that can be in-flight at once"
	depends on INFUSE_COAP_BACKEND_PARALLEL
	default 4
	help
	  This value is used for both the number of requests that can be in-flight and
	  the number of out-of-order payloads that can be buffered in RAM. Actual maximum
	  may be reduced based on provided working memory.

config INFUSE_COAP_TEST_PACKET_DROP_BITMASK
	int "Bitmask of received packets to drop while receiving to test retry logic"
	depends on ZTEST
	default 16389

module = INFUSE_COAP
module-str = infuse_coap
source "subsys/logging/Kconfig.template.log_config"

endif # INFUSE_COAP
