#include <mem.h>

/ {
	chosen {
		infuse,littlefs-partition = &littlefs_partition;
	};

	sim_flash: sim_flash {
		compatible = "zephyr,sim-flash";

		#address-cells = <1>;
		#size-cells = <1>;
		erase-value = <0xff>;

		flash_sim0: flash_sim@0 {
			compatible = "soc-nv-flash";
			reg = <0x00000000 DT_SIZE_K(16)>;

			erase-block-size = <1024>;
			write-block-size = <4>;

			partitions {
				compatible = "fixed-partitions";
				#address-cells = <1>;
				#size-cells = <1>;

				littlefs_partition: partition@1000 {
					label = "littlefs";
					reg = <0x00000000 DT_SIZE_K(16)>;
				};
			};
		};
	};
};
