#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
config SHIELD_NRF7002EB
	def_bool $(shields_list_contains,nrf7002eb)

if SHIELD_NRF7002EB

configdefault NETWORKING
	default y if !MCUBOOT

configdefault WIFI
	default y if !MCUBOOT

endif # SHIELD_NRF7002EB
