# Infuse IoT libraries

config INFUSE_COMMON_BOOT
	bool "Infuse IoT common boot logic"
	default y if INFUSE_SDK

config INFUSE_CIVIL_TIME
	bool "Infuse IoT civil time library"

config INFUSE_CIVIL_TIME_PRINT_ON_SYNC
	bool "Print current time on time sync"
	depends on INFUSE_CIVIL_TIME
	default y

if INFUSE_SDK
module = INFUSE_COMMON
module-str = infuse
source "subsys/logging/Kconfig.template.log_config"
endif # INFUSE_SDK

rsource "crypto/Kconfig"
