# Infuse-IoT libraries

config INFUSE_COMMON_BOOT
	bool "Infuse-IoT common boot logic"
	default y if INFUSE_SDK

config INFUSE_REBOOT
	bool "Infuse-IoT reboot logic"
	depends on REBOOT
	depends on HWINFO
	depends on INFUSE_EPOCH_TIME
	depends on RETENTION
	# Cannot use mutexes inside ISRs
	depends on RETENTION_MUTEX_FORCE_DISABLE
	depends on RETAINED_MEM_MUTEX_FORCE_DISABLE

config INFUSE_SECURITY
	bool "Infuse-IoT security"
	depends on MBEDTLS
	depends on PSA_WANT_ALG_HKDF
	depends on PSA_WANT_ALG_CHACHA20_POLY1305
	select CRC
	default y if INFUSE_SDK

config INFUSE_SECURITY_CHACHA_KEY_EXPORT
	bool "Enable exporting ChaCha20-Poly1305 symmetric keys"
	depends on INFUSE_SECURITY
	depends on ZTEST
	default y if ZTEST
	help
	  DO NOT enable this in production

config INFUSE_SECURITY_TEST_CREDENTIALS
	bool "Use hardcoded test credentials for testing"
	depends on INFUSE_SECURITY
	depends on ZTEST
	default y if ZTEST
	help
	  Use hardcoded device ID's and credentials for testing purposes. These
	  credentials have limited access to backend services.

config INFUSE_EPOCH_TIME
	bool "Infuse-IoT epoch time library"

config INFUSE_EPOCH_TIME_PRINT_ON_SYNC
	bool "Print current time on time sync"
	depends on INFUSE_EPOCH_TIME
	default y

config INFUSE_CUSTOM_IDENTIFIERS
	bool "Rely on some other source to supply an implementation of infuse_device_id"
	help
	  Allowing other sources to supply an implementation of infuse_device_id allows for
	  custom storage locations and layouts.

if INFUSE_COMMON_BOOT
module = INFUSE_COMMON
module-str = infuse
source "subsys/logging/Kconfig.template.log_config"
endif # INFUSE_COMMON_BOOT

rsource "auto/Kconfig"
rsource "crypto/Kconfig"
rsource "debug/Kconfig"
rsource "math/Kconfig"
rsource "memfault/Kconfig"
rsource "nrf_modem_lib/Kconfig"
rsource "states/Kconfig"
