# Infuse-IoT libraries

config INFUSE_WORKQ
	bool "Enable Infuse-IoT workqueue"
	default y if INFUSE_SDK

config INFUSE_WORKQ_STACK_SIZE
	int "Stack size of the Infuse-IoT workqueue"
	depends on INFUSE_WORKQ
	default 8192 if COVERAGE
	default 2048

config INFUSE_COMMON_BOOT
	bool "Infuse-IoT common boot logic"
	default y if INFUSE_SDK

config INFUSE_REBOOT
	bool "Infuse-IoT reboot logic"
	depends on REBOOT
	depends on HWINFO
	depends on INFUSE_EPOCH_TIME
	depends on RETENTION
	# Cannot use mutexes inside ISRs
	depends on RETENTION_MUTEX_FORCE_DISABLE
	depends on RETAINED_MEM_MUTEX_FORCE_DISABLE

config INFUSE_REBOOT_COMPILE
	bool "Control standard reboot compilation" if ZTEST
	default y if INFUSE_REBOOT
	help
	  Compilation control symbol. Allows enabling INFUSE_REBOOT
	  in tests while stubbing out the implementation.

config INFUSE_EPOCH_TIME
	bool "Infuse-IoT epoch time library"

config INFUSE_EPOCH_TIME_PRINT_ON_SYNC
	bool "Print current time on time sync"
	depends on INFUSE_EPOCH_TIME
	default y

config INFUSE_EPOCH_TIME_PRINT_REF_ON_SYNC
	bool "Print the current reference local time on sync"
	depends on ARCH_POSIX
	default y

config INFUSE_CUSTOM_IDENTIFIERS
	bool "Rely on some other source to supply an implementation of infuse_device_id"
	help
	  Allowing other sources to supply an implementation of infuse_device_id allows for
	  custom storage locations and layouts.

if INFUSE_COMMON_BOOT

config INFUSE_COMMON_BOOT_INIT_PRIORITY
	int "Initialisation priority of the common boot handling"
	default 10

config INFUSE_COMMON_BOOT_AUTO_IMG_CONFIRM
	bool "Automatically confirm a MCUboot image if common boot passes"
	depends on MCUBOOT_IMG_MANAGER
	depends on !BUILD_WITH_TFM
	default y
	help
	  Automatically confirm a MCUboot image if the `infuse_common_boot` function passes
	  without any critical subsystems failing to initialise.

config INFUSE_COMMON_BOOT_DEBUG_PORT_DISABLE
	bool "Automatically disable the debug port"
	depends on SOC_SERIES_NRF52X || SOC_SERIES_NRF54LX || SOC_SERIES_STM32F4X || SOC_SERIES_STM32L4X || SOC_SERIES_STM32G4X
	help
	  Disable the debug access port to the device. Failing to disable the DAP on deployed
	  devices is a critical security risk as it allows adversaries to read arbitrary memory
	  at runtime with simple tooling.

config INFUSE_BOARD_HAS_PUBLIC_BT_ADDRESS
	bool "Board has a public Bluetooth MAC address that should be used"
	depends on HAS_BT_CTLR
	help
	  Use a board provided public Bluetooth MAC address instead of the random static
	  address. The board must implement `infuse_board_public_bt_addr`.

module = INFUSE_COMMON
module-str = infuse
source "subsys/logging/Kconfig.template.log_config"

endif # INFUSE_COMMON_BOOT

rsource "auto/Kconfig"
rsource "crypto/Kconfig"
rsource "debug/Kconfig"
rsource "math/Kconfig"
rsource "memfault/Kconfig"
rsource "modem_monitor/Kconfig"
rsource "security/Kconfig"
rsource "states/Kconfig"
