/ {
	chosen {
		infuse,kv-partition = &storage_partition;
	};

	epacket_dummy: epacket_dummy {
		compatible = "embeint,epacket-dummy";
	};
};

&flash0 {
	partitions {
		file_partition: partition@100000 {
			label = "file";
			reg = < 0x100000 0x4000 >;
		};
	};
};
