# Copyright (c) 2025 Embeint Holdings Pty Ltd
# SPDX-License-Identifier: Apache-2.0

config LP581X
	bool "LP581X LED driver"
	default y
	depends on DT_HAS_TI_LP5814_ENABLED ||DT_HAS_TI_LP5815_ENABLED || \
		DT_HAS_TI_LP5816_ENABLED || DT_HAS_TI_LP5817_ENABLED
	select I2C
	help
	  Enable LED driver for LP581X.

	  LP581X LED drivers have 3 (LP5815/LP5817) or 4 (LP5814/LP5816)
	  channels. Each channel can drive up to 25.5 mA per LED.
