# Infuse-IoT Bluetooth libraries

config BT_CTLR_ONLY
	bool
	default y if HAS_BT_CTLR && !BT_HCI_HOST
	help
	  Helper symbol to detect controller only applications

config BT_CONTROLLER_MANAGER
	bool "Manage Bluetooth controller not part of main image"
	select INFUSE_RPC_CLIENT
	depends on BT_HCI_HOST
	depends on EPACKET_INTERFACE_HCI
	default y

config BT_CONN_AUTO_RSSI
	bool "Periodically query the RSSI of active Bluetooth connections"
	depends on BT_PERIPHERAL || BT_CENTRAL
	depends on BT_CTLR_CONN_RSSI || !HAS_BT_CTLR
	default y

config BT_INFUSE_ASSERT_HANDLER
	bool "Handle Bluetooth controller assertions"
	depends on INFUSE_REBOOT
	depends on HAS_BT_CTLR
	select BT_CTLR_ASSERT_HANDLER
	default y

if BT_CONN_AUTO_RSSI

config BT_CONN_AUTO_RSSI_INTERVAL_MS
	int "RSSI query interval in milliseconds"
	default 1000

endif # BT_CONN_AUTO_RSSI

if BT_HCI_HOST

config BT_INFUSE_LEGACY_ADV_INTERVAL_MIN
	int "Minimum interval for the Infuse-IoT legacy advertising set"
	range 30 10000
	default 1000
	help
	  Minimum advertising interval for the legacy Bluetooth advertising set
	  started by bluetooth_legacy_advertising_run. Valid range is from 30 ms
	  to 10'000 ms

config BT_INFUSE_LEGACY_ADV_INTERVAL_MAX
	int "Maximum interval for the Infuse-IoT legacy advertising set"
	range 60 10240
	default 1200
	help
	  Maximum advertising interval for the legacy Bluetooth advertising set
	  started by bluetooth_legacy_advertising_run. Valid range is from 10 ms
	  to 10'240 ms

endif # BT_HCI_HOST
