# Infuse-IoT Security

config INFUSE_SECURITY
	bool "Infuse-IoT security"
	depends on MBEDTLS
	depends on PSA_WANT_ALG_HKDF
	depends on PSA_WANT_ALG_CHACHA20_POLY1305
	select CRC
	default y if INFUSE_SDK

if INFUSE_SECURITY

config INFUSE_SECURITY_DEFAULT_NETWORK
	string "Path to yaml file containing default network parameters"
	default "default_network.yaml"

config INFUSE_SECURITY_SECONDARY_REMOTE_ENABLE
	bool "Support a secondary remote in parallel with cloud device key"
	depends on KV_STORE
	help
	  Enable generation of a secondary shared device key. The remote public key
	  used for the secondary device key is stored in KV_KEY_SECONDARY_REMOTE_PUBLIC_KEY.

config INFUSE_SECURITY_SECONDARY_NETWORK_ENABLE
	bool "Generate parameters for a secondary network"

config INFUSE_SECURITY_SECONDARY_NETWORK
	string "Path to yaml file containing secondary network parameters"
	depends on INFUSE_SECURITY_SECONDARY_NETWORK_ENABLE

config INFUSE_SECURITY_CHACHA_KEY_EXPORT
	bool "Enable exporting ChaCha20-Poly1305 symmetric keys"
	depends on ZTEST
	default y if ZTEST
	help
	  DO NOT enable this in production

config INFUSE_SECURITY_TEST_CREDENTIALS
	bool "Use hardcoded test credentials for testing"
	depends on ZTEST
	default y if ZTEST
	help
	  Use hardcoded device ID's and credentials for testing purposes. These
	  credentials have limited access to backend services.

config INFUSE_SECURITY_SKIP_INIT
	bool "Don't initialise the module"
	depends on ZTEST
	help
	  Only use this when tests both don't require any crypto support AND the
	  extra boot time from initialising the keys is problematic for repeatability.

module = INFUSE_SECURITY
module-str = Infuse-IoT security
source "subsys/logging/Kconfig.template.log_config"

endif # INFUSE_SECURITY

rsource "hardware_unique_key/Kconfig"
