# Automatic SNTP time synchronisation

config SNTP_AUTO
	bool "Automatically synchronise device time through SNTP"
	select NET_SOCKETS_SERVICE
	depends on NET_CONNECTION_MANAGER
	depends on INFUSE_EPOCH_TIME
	depends on INFUSE_DNS
	depends on KV_STORE
	depends on SNTP
	default y

if SNTP_AUTO

config SNTP_AUTO_DEFAULT_SERVER
	string "Default SNTP server"
	default "time.cloudflare.com"

config SNTP_QUERY_TIMEOUT_MS
	int "Maximum duration to wait for response from SNTP server"
	default 4000

config SNTP_AUTO_RESYNC_AGE
	int "Resynchronise time from SNTP once time sync is this far out of date"
	default 86400
	help
	   SNTP is typically going to be the least accurate time sync source. We
	   don't want to override other sync sources, and there is little value in
	   resynchronising at a high frequency. Therefore set the default period
	   to 24 hours.

module = SNTP_AUTO
module-str = sntp_auto
source "subsys/logging/Kconfig.template.log_config"

endif # SNTP_AUTO
