# Automatic SNTP time synchronisation

config SNTP_AUTO
	bool "Automatically synchronise device time through SNTP"
	select NET_SOCKETS_SERVICE
	depends on NET_CONNECTION_MANAGER
	depends on INFUSE_EPOCH_TIME
	depends on INFUSE_DNS
	depends on KV_STORE
	depends on SNTP
	default y

if SNTP_AUTO

config SNTP_AUTO_DEFAULT_SERVER
	string "Default SNTP server"
	default "time.cloudflare.com"

config SNTP_AUTO_QUERY_TIMEOUT_MS
	int "Maximum duration to wait for response from SNTP server"
	default 4000

config SNTP_AUTO_RESYNC_AGE
	int "Resynchronise time from SNTP once time sync is this far out of date"
	default 86400
	help
	   SNTP is typically going to be the least accurate time sync source. We
	   don't want to override other sync sources, and there is little value in
	   resynchronising at a high frequency. Therefore set the default period
	   to 24 hours.

config SNTP_AUTO_RETRY_PERIOD_MS
	int "How long to wait before retrying a failed SNTP query"
	default 2000

config SNTP_AUTO_RETRY_LIMIT
	int "Maximum number of times to attempt a SNTP query"
	default 3
	help
	  If the SNTP query fails this many times, it is halted until the next
	  triggering event.

choice SNTP_AUTO_MODE
	prompt "When to send SNTP queries"
	default SNTP_AUTO_IMMEDIATELY

config SNTP_AUTO_IMMEDIATELY
	bool "Run SNTP queries immediately upon timeout"
	help
	  Run the SNTP query as roon as the re-sync timer expires.

config SNTP_AUTO_SYNC_POINTS
	bool "Only run SNTP queries when triggered by the application"
	help
	  Instead of automatically running SNTP queries as soon as the re-sync
	  timer expires, wait for the application to signal that the query can
	  occur. This is useful for networking backends which may be in an idle
	  state and have a high overhead to reconnect.

endchoice

module = SNTP_AUTO
module-str = sntp_auto
source "subsys/logging/Kconfig.template.log_config"

endif # SNTP_AUTO
