# Infuse-IoT watchdog configuration

config INFUSE_WATCHDOG
	bool "Use watchdogs in core Infuse subsystems"
	depends on "$(dt_alias_enabled,watchdog0)"
	depends on WATCHDOG
	help
	  When enabled, Infuse subsystems register watchdogs against
	  the watchdog0 devicetree alias. The watchdog must still be
	  started with `infuse_watchdog_start` by the application.

if INFUSE_WATCHDOG

config INFUSE_WATCHDOG_SW_MULTICHANNEL
	bool "Emulate multiple watchdog channels in software"
	depends on INFUSE_WATCHDOG_SOFTWARE_WARNING
	default y if IWDG_STM32
	help
	  Multiple channels are emulated by feeding the hardware watchdog
	  once all software channels have been fed at least once.

config INFUSE_WATCHDOG_PERIOD_MS
	int "Watchdog period used by Infuse subsystems"
	range 2000 26214 if IWDG_STM32
	range 2000 120000
	default 20000 if IWDG_STM32
	default 35000

config INFUSE_WATCHDOG_FEED_EARLY_MS
	int "Time before expiry to feed the watchdog when idle"
	default 5000
	help
	  Threads that are idle most of the time need to periodically wake up to
	  feed their assigned watchdog channel. This option controls how soon before
	  expiry they do that. If this value is too small, the channel may expire
	  if the CPU is busy while the thread is waiting to wake.

config INFUSE_WATCHDOG_SOFTWARE_WARNING
	bool "Enable a software alarm that provides a pre-warning before hardware expiry"
	default y if SOC_FAMILY_NORDIC_NRF && INFUSE_MEMFAULT
	default y if HAS_WDT_NO_CALLBACKS

config INFUSE_WATCHDOG_SOFTWARE_WARNING_MS
	int "Milliseconds before hardware expiry to trigger software warning"
	depends on INFUSE_WATCHDOG_SOFTWARE_WARNING
	default 2500

endif # INFUSE_WATCHDOG
