# Infuse-IoT WiFi Connection Manager

config CONN_MGR_WIFI_KV_STORE
	bool "WiFi connection manager based on KV store"
	depends on KV_STORE
	depends on KV_STORE_KEY_WIFI_SSID
	depends on KV_STORE_KEY_WIFI_PSK

if CONN_MGR_WIFI_KV_STORE

config CONN_MGR_WIFI_KV_STORE_AUTO_CONNECT
	bool "WiFi connection should be created at boot"
	default y

config CONN_MGR_WIFI_KV_STORE_PERSISTENT
	bool "WiFi connection should be persistent"
	default y

config CONN_MGR_WIFI_KV_STORE_CACHE_LAST_FREQUENCY
	bool "Use the WiFi band and channel from the previous connection"
	help
	  When initiating a connection, explicitly specify the band and channel of
	  the previous connection that succeeded, if available. Cached information
	  is reset when the configuration changes or a connection fails. For WiFi
	  modems that limit scanning to the provided frequencies, this can dramatically
	  speed up subsequent connections at the cost of failing to connect on the first
	  time if the WiFi channel changes (Multi-AP scenario).

module = CONN_MGR_WIFI_KV_STORE
module-str = conn_mgr_wifi
source "subsys/logging/Kconfig.template.log_config"

endif
