# Infuse-IoT sensor drivers

config NRF9X_TEMP
	bool "nRF91x internal SoC temperature"
	depends on DT_HAS_NORDIC_NRF9X_TEMP_ENABLED
	depends on NRF_MODEM_LIB
	depends on SENSOR
	default y

config NRF9X_BATT
	bool "nRF91x battery voltage measurement"
	depends on DT_HAS_NORDIC_NRF9X_BATT_ENABLED
	depends on NRF_MODEM_LIB
	depends on SENSOR
	default y

config BQ25798
	bool "TI BQ25798 Buck-Boost Battery Charger"
	depends on DT_HAS_TI_BQ25798_ENABLED
	depends on SENSOR
	default y

if BQ25798

config BQ25798_FETCH_STATUS_CHECKS
	bool "Query status flags on fetch"
	default y

config BQ25798_FETCH_POOR_SOURCE_RETRY
	bool "Automatically retry poor sources on fetch"
	default y
	help
	   By default a poor source is only retried every 7 minutes.
	   Enabling this flag results in `sensor_fetch` retrying the
	   source qualification if the charger is in poor source mode.

endif

config PAC194X
	bool "Microchip PAC194X single/multi-channel power monitor"
	depends on DT_HAS_MICROCHIP_PAC1941_1_ENABLED
	depends on SENSOR
	default y

config SENSOR_GENERIC_SIM
	bool "Generic simulated sensor"
	depends on DT_HAS_ZEPHYR_GENERIC_SIM_SENSOR_ENABLED
	depends on SENSOR
	default y
	help
	  Simulated sensor that can expose any configured channel.
