# Infuse-IoT sensor drivers

config NRF9X_TEMP
	bool "nRF91x internal SoC temperature"
	depends on DT_HAS_NORDIC_NRF9X_TEMP_ENABLED
	depends on NRF_MODEM_LIB
	depends on SENSOR
	default y

config NRF9X_BATT
	bool "nRF91x battery voltage measurement"
	depends on DT_HAS_NORDIC_NRF9X_BATT_ENABLED
	depends on NRF_MODEM_LIB
	depends on SENSOR
	default y
