# Cellular Modem monitor configuration

config INFUSE_CELLULAR_MODEM_MONITOR
	bool "Infuse-IoT integration with Cellular Modems"
	depends on KV_STORE
	depends on MODEM_CELLULAR
	depends on INFUSE_REBOOT
	# select MODEM_CELLULAR_SUSPEND_ASYNC
	select INFUSE_MODEM_MONITOR
	select INFUSE_WORKQ
	imply MODEM_CELLULAR_CUSTOM_FAILURE_HANDLING
	default y

config INFUSE_CELLULAR_MODEM_MONITOR_INIT_PRIORITY
	int "Cellular modem integration initialisation priority"
	depends on INFUSE_CELLULAR_MODEM_MONITOR
	default 11
	help
	  Must be later than INFUSE_COMMON_BOOT_INIT_PRIORITY to ensure
	  default PDP configuration applies to KV store if the common init
	  resets the KV store.
