# Infuse-IoT algorithm abstraction

config ALGORITHM_RUNNER
	bool "Infuse-IoT algorithm runner"
	depends on ZBUS_CHANNEL_ID
	select INFUSE_WORKQ

if ALGORITHM_RUNNER

module = ALGORITHM_RUNNER
module-str = Algorithm Runner
source "subsys/logging/Kconfig.template.log_config"

endif # ALGORITHM_RUNNER

rsource "algorithms/Kconfig"
