# Infuse-IoT IMU driver configuration

config INFUSE_IMU
	bool "Infuse-IoT IMU driver API"
	depends on SENSOR

if INFUSE_IMU

config INFUSE_IMU_MAX_FIFO_SAMPLES
	int "Maximum number of samples pending in a FIFO that can be handled"
	default 32 if INFUSE_IMU_LIS2DW12
	default 128
	help
	  Save RAM by notifying drivers and application logic of the maximum number
	  of IMU samples they need to be able to handle in a single chunk.

config INFUSE_IMU_RESAMPLE
	bool "IMU resampling functions"

config INFUSE_IMU_SELF_TEST
	bool "Enable self-test functionality in drivers"

rsource "bma4xx/Kconfig"
rsource "bmi270/Kconfig"
rsource "emul/Kconfig"
rsource "lis2dw12/Kconfig"
rsource "lsm6dso/Kconfig"
rsource "lsm6dsv/Kconfig"

endif # INFUSE_IMU
