# Build as SDK application on real hardware
configdefault INFUSE_SDK
	default y if SOC_FAMILY_NORDIC_NRF

configdefault INFUSE_REBOOT
	default y if SOC_FAMILY_NORDIC_NRF

config WIFI_SSID
	string "WiFi SSID"
	depends on WIFI
	default "test_ssid"

config WIFI_PSK
	string "WiFi PSK"
	depends on WIFI
	default "test_psk"

if !NRF_MODEM_LIB
configdefault TLS_CREDENTIALS
	default y
configdefault MBEDTLS_KEY_EXCHANGE_PSK_ENABLED
	default y
configdefault NET_SOCKETS_SOCKOPT_TLS
	default y
configdefault NET_SOCKETS_ENABLE_DTLS
	default y
# Required PSA algorithms
configdefault PSA_WANT_ALG_TLS12_PSK_TO_MS
	default y
configdefault PSA_WANT_ALG_TLS12_PRF
	default y
endif

source "Kconfig.zephyr"
