# LTE Gateway specific options

config LTE_GATEWAY_DEFAULT_MAXIMUM_UPLINK_THROUGHPUT_KBPS
	int "Expected maximum throughput of the LTE link with good signal"
	# Theoretical maximum LTE-M uplink for the nRF91 is 375 kbps
	default 175 if SOC_SERIES_NRF91X
	default 0

# Shuffle memory to prioritise TX buffers
configdefault NRF_MODEM_LIB_SHMEM_TX_SIZE
	default 14336

configdefault NRF_MODEM_LIB_SHMEM_RX_SIZE
	default 8192

#
# Defaults for native nRF91 gateways
#
choice LTE_NETWORK_MODE
	default LTE_NETWORK_MODE_LTE_M
endchoice
choice INFUSE_NRF_MODEM_MONITOR_MOBILITY
	default INFUSE_NRF_MODEM_MONITOR_MOBILITY_NORDIC_PROPRIETARY
endchoice
configdefault LTE_PSM_REQ
	default n
configdefault INFUSE_NRF_MODEM_DATA_PROFILE_DEFAULT
	default 4

source "Kconfig.zephyr"
