# LTE Gateway specific options

config LTE_GATEWAY_DEFAULT_MAXIMUM_UPLINK_THROUGHPUT_KBPS
	int "Expected maximum throughput of the LTE link with good signal"
	# Theoretical maximum LTE-M uplink for the nRF91 is 375 kbps
	default 175 if SOC_SERIES_NRF91X
	default 0

# Default RPCs (if hardware supports)
configdefault INFUSE_RPC_COMMAND_BT_FILE_COPY_BASIC
	default y
configdefault INFUSE_RPC_COMMAND_BT_FILE_COPY_COAP
	default y

#
# Defaults for native nRF91 gateways
#
choice LTE_NETWORK_MODE
	default LTE_NETWORK_MODE_LTE_M
endchoice
choice INFUSE_NRF_MODEM_MONITOR_MOBILITY
	default INFUSE_NRF_MODEM_MONITOR_MOBILITY_NORDIC_PROPRIETARY
endchoice
configdefault LTE_PSM_REQ
	default n
configdefault INFUSE_NRF_MODEM_DATA_PROFILE_DEFAULT
	default 4
# Shuffle memory to prioritise TX buffers
configdefault NRF_MODEM_LIB_SHMEM_TX_SIZE
	default 14336
configdefault NRF_MODEM_LIB_SHMEM_RX_SIZE
	default 8192

#
# Defaults for offloaded modem_cellular gateways
#
configdefault BT_CTLR_SDC_PERIPHERAL_COUNT
	default 2
configdefault MODEM_CMUX_MTU
	default 1500
configdefault MODEM_CELLULAR_UART_BUFFER_SIZES
	default 1500
configdefault MODEM_CELLULAR_CHAT_BUFFER_SIZE
	default 256
configdefault MODEM_CELLULAR_USER_PIPE_BUFFER_SIZES
	default 256
# Huge impact on RAM consumption of the application
# Limit it to 768, i.e. 2 buffers can contain our maximum packet size
configdefault NET_BUF_DATA_SIZE
	default 768 if !NRF_MODEM_LIB
configdefault MODEM_PPP_NET_BUF_FRAG_SIZE
	default 512

source "Kconfig.zephyr"
