config TEST_NATIVE_MOCK
	bool "Mock various file backends"
	default y if BOARD_NATIVE_SIM

config BT_CONTROLLER_MANAGER
	default y if TEST_NATIVE_MOCK

config TEST_FILE_WRITE
	bool "Test `file_write` instead of `file_write_basic`"

source "Kconfig.zephyr"
