# ePacket configuration

menuconfig EPACKET
	bool "ePacket subsystem"
	depends on POLL
	depends on NET_BUF

config EPACKET_CRYPTO
	bool
	depends on MBEDTLS_HKDF_C
	depends on MBEDTLS_CHACHAPOLY_AEAD_ENABLED
	default y

if EPACKET

module = EPACKET
module-str = epacket
source "subsys/logging/Kconfig.template.log_config"

config EPACKET_BUFFERS_TX
	int "Number of ePacket buffers for TX"
	range 1 16
	default 3

config EPACKET_BUFFERS_RX
	int "Number of ePacket buffers for RX"
	range 1 16
	default 3

config EPACKET_PAYLOAD_MAX
	int "Maximum supported ePacket payload size"
	range 64 2048
	default 512 if NET_IPV4
	default 256
	help
	  Default value of 512 for IPV4 networks is due to the
	  larger minimum MTU of 576. 256 is sufficient for Bluetooth
	  only devices.

config EPACKET_KEY_EXPORT
	bool "Support exporting ePacket derived keys"
	depends on ZTEST
	help
	  DO NOT enable this in production

rsource "interfaces/Kconfig"

endif # EPACKET
