# ePacket configuration

menuconfig EPACKET
	bool "ePacket subsystem"
	depends on POLL
	depends on NET_BUF

config EPACKET_CRYPTO
	bool
	depends on INFUSE_SECURITY
	default y

if EPACKET

module = EPACKET
module-str = epacket
source "subsys/logging/Kconfig.template.log_config"

config EPACKET_INFUSE_WATCHDOG
	bool "Install watchdog on the ePacket processing thread"
	depends on INFUSE_WATCHDOG
	default y

config EPACKET_BUFFERS_TX
	int "Number of ePacket buffers for TX"
	range 1 16
	default 3

config EPACKET_BUFFERS_RX
	int "Number of ePacket buffers for RX"
	range 1 16
	default 3

config EPACKET_PACKET_SIZE_MAX
	int "Maximum supported ePacket packet size"
	range 64 2048
	default 555 if EPACKET_INTERFACE_SERIAL
	default 548 if NET_IPV4
	default 256
	help
	  512 byte serial payload + overhead = 555
	  IPv4 minimum MTU = 576 (28 byte IP + UDP header)
	  256 is sufficient for Bluetooth only devices.

rsource "interfaces/Kconfig"

endif # EPACKET
