# Infuse-IoT mcumgr implementations

if MCUMGR

config MCUMGR_GRP_OS_INFUSE
	bool "Infuse-IoT mcumgr handlers for OS management"
	select MCUMGR_SMP_CBOR_MIN_DECODING_LEVEL_2
	depends on INFUSE_EPOCH_TIME

config MCUMGR_GRP_OS_INFUSE_RESET_MIN_UPTIME
	int "Minimum uptime for 'reset' command to be actioned"
	default 0
	depends on MCUMGR_GRP_OS_INFUSE
	depends on INFUSE_REBOOT
	help
	  Optional minimum uptime in seconds before the reset management
	  command will be actioned. Can be used to prevent malicious actors
	  from chain rebooting devices through the un-authenticated MCUMgr
	  protocol.

endif # MCUMGR

config MCUBOOT_UPGRADE_ONLY_AUTOMATIC
	bool "MCUBoot is compiled with MCUBOOT_UPGRADE_ONLY_AUTOMATIC"
	depends on MCUBOOT_BOOTLOADER_MODE_OVERWRITE_ONLY
	depends on MCUBOOT_BOOTLOADER_MODE_HAS_NO_DOWNGRADE
	help
	  When compiled with MCUBOOT_UPGRADE_ONLY_AUTOMATIC, writing swap
	  status to the new image is not required (and may not be possible).
	  Simply reboot to trigger the upgrade.
