# ePacket interfaces

config EPACKET_INTERFACE_SERIAL
	bool "ePacket serial interface"
	depends on EPACKET_CRYPTO

config EPACKET_INTERFACE_USB
	bool "ePacket USB serial interface"
	select EPACKET_INTERFACE_SERIAL
	depends on DT_HAS_EMBEINT_EPACKET_USB_ENABLED
	depends on USB_CDC_ACM
	default y

if EPACKET_INTERFACE_USB

module = EPACKET_USB
module-str = epacket_usb
source "subsys/logging/Kconfig.template.log_config"

endif # EPACKET_INTERFACE_USB

config EPACKET_INTERFACE_UDP
	bool "ePacket UDP interface"
	depends on DT_HAS_EMBEINT_EPACKET_UDP_ENABLED
	depends on EPACKET_CRYPTO
	depends on DNS_RESOLVER
	depends on NET_UDP
	depends on EVENTS
	default y

if EPACKET_INTERFACE_UDP

config EPACKET_INTERFACE_UDP_DEFAULT_URL
	string "ePacket UDP default server URL"
	default "ec2-13-54-129-74.ap-southeast-2.compute.amazonaws.com"

config EPACKET_INTERFACE_UDP_DEFAULT_PORT
	int "ePacket UDP default server port"
	default 3000

module = EPACKET_UDP
module-str = epacket_udp
source "subsys/logging/Kconfig.template.log_config"

endif # EPACKET_INTERFACE_UDP

config EPACKET_INTERFACE_DUMMY
	bool "ePacket dummy interface"
	depends on DT_HAS_EMBEINT_EPACKET_DUMMY_ENABLED
	default y
