# ePacket interfaces

config EPACKET_INTERFACE_SERIAL
	bool

choice EPACKET_INTERFACE_SERIAL_BACKEND
	prompt "Backend for serial interface"
	depends on DT_HAS_EMBEINT_EPACKET_SERIAL_ENABLED
	depends on EPACKET_CRYPTO
	default EPACKET_INTERFACE_SERIAL_BACKEND_RTT if USE_SEGGER_RTT
	default EPACKET_INTERFACE_SERIAL_BACKEND_INT if USB_CDC_ACM
	default EPACKET_INTERFACE_SERIAL_BACKEND_ASYNC if UART_ASYNC_API
	default EPACKET_INTERFACE_SERIAL_BACKEND_INT

config EPACKET_INTERFACE_SERIAL_BACKEND_INT
	bool "ePacket serial interface"
	depends on UART_INTERRUPT_DRIVEN
	select EPACKET_INTERFACE_SERIAL

config EPACKET_INTERFACE_SERIAL_BACKEND_ASYNC
	bool "ePacket serial interface"
	depends on UART_ASYNC_API
	select EPACKET_INTERFACE_SERIAL

config EPACKET_INTERFACE_SERIAL_BACKEND_RTT
	bool "ePacket serial interface over RTT"
	depends on USE_SEGGER_RTT
	select EPACKET_INTERFACE_SERIAL

endchoice

if EPACKET_INTERFACE_SERIAL

module = EPACKET_SERIAL
module-str = epacket_serial
source "subsys/logging/Kconfig.template.log_config"

endif # EPACKET_INTERFACE_SERIAL

config EPACKET_INTERFACE_UDP
	bool "ePacket UDP interface"
	depends on DT_HAS_EMBEINT_EPACKET_UDP_ENABLED
	depends on EPACKET_CRYPTO
	depends on INFUSE_DNS
	depends on NET_UDP
	depends on EVENTS
	default y

if EPACKET_INTERFACE_UDP

config EPACKET_INTERFACE_UDP_DEFAULT_URL
	string "ePacket UDP default server URL"
	default "udp.dev.infuse-iot.com"

config EPACKET_INTERFACE_UDP_DEFAULT_PORT
	int "ePacket UDP default server port"
	default 3001

config EPACKET_INTERFACE_UDP_ACK_PERIOD_SEC
	int "Request an ACK from the server after N seconds of not receiving"
	default 3600
	help
	  If the device has not heard from the server for this many seconds,
	  the `EPACKET_FLAGS_ACK_REQUEST` flag is set on packets until a packet
	  is received.  If no response is received after a further
	  EPACKET_INTERFACE_UDP_ACK_COUNTDOWN transmissions, the server is
	  assumed lost and is set up again. Default period is 1 hour.

config EPACKET_INTERFACE_UDP_ACK_COUNTDOWN
	int "Number of unanswered ACKs to send before dropping server"
	default 10

config EPACKET_INTERFACE_UDP_DOWNLINK_WATCHDOG
	bool "Software watchdog for receiving data from cloud UDP server"
	depends on INFUSE_REBOOT
	default y
	help
	  Enable a software watchdog that is fed each time a valid downlink packet
	  is received from the cloud UDP server. The intent of this watchdog is to
	  protect against networking hardware/drivers from entering a permanently
	  bad state that prevents UDP communications.

config EPACKET_INTERFACE_UDP_DOWNLINK_WATCHDOG_TIMEOUT
	int "Timeout duration for the cloud UDP server software watchdog"
	depends on EPACKET_INTERFACE_UDP_DOWNLINK_WATCHDOG
	default 259200
	help
	  Watchdog period in seconds. Default value is 3 days (3 * 86400)

module = EPACKET_UDP
module-str = epacket_udp
source "subsys/logging/Kconfig.template.log_config"

endif # EPACKET_INTERFACE_UDP

config EPACKET_INTERFACE_BT_ADV
	bool "ePacket Bluetooth advertising interface"
	depends on DT_HAS_EMBEINT_EPACKET_BT_ADV_ENABLED
	depends on EPACKET_CRYPTO
	depends on BT_BROADCASTER
	default y

if EPACKET_INTERFACE_BT_ADV

module = EPACKET_BT_ADV
module-str = epacket_bt_adv
source "subsys/logging/Kconfig.template.log_config"

endif # EPACKET_INTERFACE_BT_ADV

config EPACKET_INTERFACE_BT_GATT
	bool

config EPACKET_INTERFACE_BT_PERIPHERAL
	bool "ePacket Bluetooth GATT peripheral interface"
	depends on DT_HAS_EMBEINT_EPACKET_BT_PERIPHERAL_ENABLED
	depends on EPACKET_CRYPTO
	depends on BT_PERIPHERAL
	select EPACKET_INTERFACE_BT_GATT
	default y

if EPACKET_INTERFACE_BT_PERIPHERAL

module = EPACKET_BT_PERIPHERAL
module-str = epacket_bt_peripheral
source "subsys/logging/Kconfig.template.log_config"

endif # EPACKET_INTERFACE_BT_PERIPHERAL

config EPACKET_INTERFACE_BT_CENTRAL
	bool "ePacket Bluetooth GATT central interface"
	depends on DT_HAS_EMBEINT_EPACKET_BT_CENTRAL_ENABLED
	depends on EPACKET_CRYPTO
	depends on BT_CENTRAL
	select EPACKET_INTERFACE_BT_GATT
	default y

if EPACKET_INTERFACE_BT_CENTRAL

module = EPACKET_BT_CENTRAL
module-str = epacket_bt_central
source "subsys/logging/Kconfig.template.log_config"

endif # EPACKET_INTERFACE_BT_CENTRAL

config EPACKET_INTERFACE_HCI
	bool "ePacket Bluetooth HCI"
	depends on DT_HAS_EMBEINT_EPACKET_HCI_ENABLED
	depends on BT_HCI_RAW || BT_HCI_HOST
	default y

if EPACKET_INTERFACE_HCI

module = EPACKET_HCI
module-str = epacket_hci
source "subsys/logging/Kconfig.template.log_config"

endif # EPACKET_INTERFACE_HCI

config EPACKET_INTERFACE_DUMMY
	bool "ePacket dummy interface"
	depends on DT_HAS_EMBEINT_EPACKET_DUMMY_ENABLED
	default y

config EPACKET_INTERFACE_ZTEST_PACKETS
	bool "Compile in the packet construction functions without the interfaces"
	depends on ZTEST
