# Infuse-IoT SDK log defaults
#
# Copyright (c) 2025 Embeint Holdings Pty Ltd
# SPDX-License-Identifier: FSL-1.1-ALv2

configdefault USBD_LOG_LEVEL
	default 0
configdefault USBD_CDC_ACM_LOG_LEVEL
	default 0

configdefault NVS_LOG_LEVEL
	default 2

configdefault ZMS_LOG_LEVEL
	default 2

configdefault BT_LOG_LEVEL
	default 2
