# Infuse-IoT SDK STM32 defaults
#
# Copyright (c) 2025 Embeint Holdings Pty Ltd
# SPDX-License-Identifier: FSL-1.1-ALv2

if SOC_FAMILY_STM32

configdefault FLASH_EX_OP_ENABLED
	default y if INFUSE_COMMON_BOOT_DEBUG_PORT_DISABLE
configdefault FLASH_STM32_READOUT_PROTECTION
	default y if INFUSE_COMMON_BOOT_DEBUG_PORT_DISABLE

endif # SOC_FAMILY_STM32
