# Test defaults for Infuse-IoT libraries
#
# Copyright (c) 2025 Embeint Holdings Pty Ltd
# SPDX-License-Identifier: FSL-1.1-ALv2

config INFUSE_TEST_ID
	bool "Use hardcode test ID (0xFFFFFFFFFFFFFFFD)"
	default y if INFUSE_SECURITY_TEST_CREDENTIALS || !INFUSE_SDK
	depends on ZTEST

config INFUSE_REBOOT_RETURN
	bool "Disable FUNC_NOTRETURN on `infuse_reboot`"
	depends on ZTEST || SOC_SERIES_BSIM_NRFXX

if INFUSE_SECURITY || MBEDTLS

configdefault MAIN_STACK_SIZE
	default 2048
configdefault ZTEST_STACK_SIZE
	default 2048
configdefault MBEDTLS_ENTROPY_POLL_ZEPHYR
	default n if NRF_CC3XX_PLATFORM

endif # INFUSE_SECURITY || MBEDTLS

choice MBEDTLS_PSA_ITS_BACKEND
	default MBEDTLS_PSA_ITS_BACKEND_MBEDTLS_FILE if ZTEST
endchoice

configdefault MCUMGR_TRANSPORT_WORKQUEUE_STACK_SIZE
	default 8192 if COVERAGE_GCOV
