# Infuse-IoT SDK networking defaults
#
# Copyright (c) 2025 Embeint Holdings Pty Ltd
# SPDX-License-Identifier: FSL-1.1-ALv2

DT_CHOSEN_Z_WIFI := zephyr,wifi

config INFUSE_SDK_NETWORKING
	bool "Infuse-IoT SDK Networking defaults"
	depends on NETWORKING
	default y if INFUSE_SDK

if INFUSE_SDK_NETWORKING

configdefault WIFI
	default y if $(dt_chosen_enabled,$(DT_CHOSEN_Z_WIFI))

# LTE Modem
if $(dt_alias_enabled,modem)
configdefault MODEM
	default y
configdefault MODEM_CELLULAR
	default y
configdefault MODEM_MODULES
	default y
configdefault MODEM_DEDICATED_WORKQUEUE
	default y
configdefault MODEM_AT_USER_PIPE
	default y
configdefault NET_DRIVERS
	default y
configdefault NET_L2_PPP
	default y
configdefault NET_L2_PPP_OPTION_DNS_USE
	default y
endif # $(dt_alias_enabled,modem)

if WIFI

# Reduce the default priority to prevent blocking other threads
# during crypto operations
configdefault WIFI_NM_WPA_SUPPLICANT_PRIO
	default 6

endif # WIFI

# Core Protocols
configdefault NET_UDP
	default y
configdefault NET_IPV4
	default y
configdefault NET_IPV6
	# Disabled due to IPV6 addresses not being removed on network down
	default n if !NRF_MODEM_LIB

configdefault NET_MAX_CONN
	# DNS + SNTP + UDP + WPA_SUPP consume the default 4
	default 6

# Native DNS support (not needed for offloaded `getaddrinfo`)
if !NRF_MODEM_LIB
configdefault DNS_RESOLVER
	default y
configdefault DNS_SERVER_IP_ADDRESSES
	default y
configdefault DNS_SERVER1
	default "1.1.1.1"
configdefault DNS_SERVER2
	default "1.0.0.1"
configdefault DNS_NUM_CONCUR_QUERIES
	# Both libraries do DNS queries immediately upon connection
	default 2 if SNTP_AUTO && EPACKET_INTERFACE_UDP
endif

# SNTP time sync
configdefault SNTP
	default y
configdefault SNTP_AUTO
	default y

# IP assignment
configdefault NET_DHCPV4
	default y

# Sockets
configdefault NET_SOCKETS
	default y

# Infuse-IoT COAP
configdefault COAP
	default y
configdefault INFUSE_COAP
	default y
if INFUSE_COAP && !NRF_MODEM_LIB
configdefault TLS_CREDENTIALS
	default y
configdefault NET_SOCKETS_SOCKOPT_TLS
	default y
configdefault NET_SOCKETS_ENABLE_DTLS
	default y
configdefault MBEDTLS_KEY_EXCHANGE_PSK_ENABLED
	default y
configdefault PSA_WANT_KEY_TYPE_ECC_PUBLIC_KEY
	default y if !BUILD_WITH_TFM
configdefault PSA_WANT_ALG_TLS12_PSK_TO_MS
	default y
configdefault PSA_WANT_ALG_TLS12_PRF
	default y
configdefault PSA_WANT_ALG_ECDSA
	default y if !BUILD_WITH_TFM
configdefault PSA_WANT_ALG_JPAKE
	default y if !BUILD_WITH_TFM
endif # INFUSE_COAP && !NRF_MODEM_LIB

# Zephyr networking
configdefault NET_CONNECTION_MANAGER
	default y
configdefault NET_CONNECTION_MANAGER_CONNECTIVITY_WIFI_MGMT
	default y if (WIFI_USAGE_MODE_STA || WIFI_USAGE_MODE_STA_AP)
configdefault CONN_MGR_WIFI_KV_STORE
	default y if (WIFI_USAGE_MODE_STA || WIFI_USAGE_MODE_STA_AP)
# Connection manager requires an IP address slot per interface it is trying to track
configdefault NET_IF_MAX_IPV4_COUNT
	default 2 if NRF_MODEM_LIB_NET_IF && WIFI

endif # INFUSE_SDK_NETWORKING

if SHIELD_NRF7002EB || SHIELD_NRF7002EK

configdefault NETWORKING
	default y if !MCUBOOT

endif # SHIELD_NRF7002EB || SHIELD_NRF7002EK
