# Infuse-IoT SDK Nordic defaults
#
# Copyright (c) 2025 Embeint Holdings Pty Ltd
# SPDX-License-Identifier: FSL-1.1-ALv2

if SOC_FAMILY_NORDIC_NRF

configdefault LOG_TIMESTAMP_64BIT
	# GRTC runs at 1Mhz, timestamps rollover after 71 minutes in 32bits
	default y if NRF_GRTC_TIMER

configdefault NRF_CC3XX_PLATFORM
	default y

# Use CC3XX platform
choice MBEDTLS_PSA_CRYPTO_RNG_SOURCE
	default MBEDTLS_PSA_CRYPTO_EXTERNAL_RNG if NRF_CC3XX_PLATFORM
endchoice

# Oberon backend
configdefault NRF_OBERON
	default y if !BUILD_WITH_TFM

# LTE defaults
configdefault AT_MONITOR_HEAP_SIZE
	default 1024 if TASK_RUNNER_TASK_NETWORK_SCAN
	default 512
configdefault NET_IPV6_MLD
	default n if NRF_MODEM_LIB
configdefault NET_IPV6_NBR_CACHE
	default n if NRF_MODEM_LIB
configdefault NRF_MODEM_LIB_NET_IF
	default y
configdefault MODEM_KEY_MGMT
	default y if INFUSE_SECURITY
configdefault NRF_MODEM_LIB_NET_IF_APPLICATION_ERROR_HANDLER
	default y if INFUSE_NRF_MODEM_MONITOR
configdefault NRF_MODEM_LIB_SHMEM_RX_SIZE
	default 12288
configdefault NRF_MODEM_LIB_SHMEM_TX_SIZE
	default 10240
choice NRF_MODEM_LIB_ON_FAULT
	default NRF_MODEM_LIB_ON_FAULT_APPLICATION_SPECIFIC
endchoice
# Sleep mode notifications
configdefault LTE_LC_MODEM_SLEEP_NOTIFICATIONS
	default y
configdefault LTE_LC_MODEM_SLEEP_PRE_WARNING_TIME_MS
	default 500
configdefault LTE_LC_MODEM_SLEEP_NOTIFICATIONS_THRESHOLD_MS
	default 10240

# Default PSM mode
configdefault LTE_PSM_REQ
	default y
# Bits 5 to 1 represent the binary coded timer value.
# Bits 6 to 8 defines the timer value unit for the GPRS timer as follows:
# Bits
# 8 7 6
# 0 0 0  value is incremented in multiples of 2 seconds
# 0 0 1  value is incremented in multiples of 1 minute
# 0 1 0  value is incremented in multiples of decihours
# 1 1 1  value indicates that the timer is deactivated.
configdefault LTE_PSM_REQ_RAT
	default "00000001"
# Bits 5 to 1 represent the binary coded timer value.
# Bits 6 to 8 defines the timer value unit for the GPRS timer as follows:
# Bits
# 8 7 6
# 0 0 0 value is incremented in multiples of 10 minutes
# 0 0 1 value is incremented in multiples of 1 hour
# 0 1 0 value is incremented in multiples of 10 hours
# 0 1 1 value is incremented in multiples of 2 seconds
# 1 0 0 value is incremented in multiples of 30 seconds
# 1 0 1 value is incremented in multiples of 1 minute
# 1 1 0 value is incremented in multiples of 320 hours (NOTE 1)
# 1 1 1 value indicates that the timer is deactivated (NOTE 2).
configdefault LTE_PSM_REQ_RPTAU
	default "00101100"
# When networks don't support PSM natively, use the Nordic proprietary PSM
# feature. Proprietary PSM can be used only in application use cases where
# the device always initiates the data connection. Infuse-IoT satisfies this
# requirement. Currently only supported on the nRF9120 based chips.
configdefault LTE_PROPRIETARY_PSM_REQ
	default y if SOC_NRF9120
# Enable Release Assistance Indication (RAI) support.
# Only supported on the nRF9120 based chips (Modem firmware v2.0.x>=2).
configdefault LTE_LC_RAI_MODULE
	default y if SOC_NRF9120
configdefault LTE_RAI_REQ
	default y if SOC_NRF9120

config NRF_WIFI_LOW_RAM
	bool "nRF Wi-Fi low RAM defaults"
	default y if SRAM_SIZE <= 256

configdefault NRF70_RX_MAX_DATA_SIZE
	# Value is hardcoded in fmac_main when TX is disabled
	default 1004 if !NRF70_DATA_TX

# Lower resource requirements in scan only mode
if NRF70_SCAN_ONLY
configdefault NRF_WIFI_DATA_HEAP_SIZE
	default 8000
configdefault NET_BUF_RX_COUNT
	default 1
configdefault NET_BUF_TX_COUNT
	default 1
configdefault NET_PKT_RX_COUNT
	default 1
configdefault NET_PKT_TX_COUNT
	default 1
configdefault NET_TC_TX_COUNT
	default 1
configdefault NET_MAX_CONTEXTS
	default 1
configdefault NET_TX_STACK_SIZE
	default 1024
configdefault NET_RX_STACK_SIZE
	default 1024
endif # NRF70_SCAN_ONLY

# Limit nRF memory usage to the bare minimum
if NRF_WIFI_LOW_RAM
configdefault NRF_WIFI_IFACE_MTU
	default 576 if !NET_IPV6 # Minimum IPv4 compatible MTU
	default 1280             # Minimum IPv6 compatible MTU
configdefault NRF70_TX_MAX_DATA_SIZE
	# Interface MTU + nRF header sizes
	default 644 if !NET_IPV6
	default 1348
configdefault NRF70_RX_MAX_DATA_SIZE
	# Interface MTU + nRF header sizes
	default 644 if !NET_IPV6
	default 1348
configdefault NRF70_MAX_TX_PENDING_QLEN
	# Disable the limit so packets aren't dropped
	default 32768
configdefault NRF70_RX_NUM_BUFS
	default 6
configdefault NRF70_MAX_TX_TOKENS
	default 6
configdefault NRF70_MAX_TX_AGGREGATION
	default 3
configdefault NRF_WIFI_DATA_HEAP_SIZE
	def_int 8240 if !NET_IPV6
	def_int 16688
	# IPV4 Data plane is (6 + 6) * 644 ~= 8kB
	# IPV6 Data plane is (6 + 6) * 1348 ~= 16kB
endif # NRF_WIFI_LOW_RAM

# WiFi defaults
configdefault NET_L2_ETHERNET
	default y if WIFI_NRF70
configdefault SYSTEM_WORKQUEUE_STACK_SIZE
	default 6144 if WIFI_NRF70 && !NRF70_SCAN_ONLY
configdefault NRF70_RX_NUM_BUFS
	default 32
configdefault NRF_WIFI_DATA_HEAP_SIZE
	# NRF70_RX_MAX_DATA_SIZE * NRF70_RX_NUM_BUFS +
	# NRF70_TX_MAX_DATA_SIZE * NRF70_MAX_TX_TOKENS
	def_int 80000 if !NRF70_SCAN_ONLY
configdefault NET_CONNECTION_MANAGER_MONITOR_STACK_SIZE
	default 4096 if NRF70_STA_MODE
	default 1024 if NRF_MODEM_LIB_NET_IF
configdefault NRF_WIFI_IF_AUTO_START
	default n
configdefault ZVFS_OPEN_MAX
	default 20 if WIFI_NRF70
choice NET_SOCKETPAIR_ALLOCATION_STRATEGY
	default NET_SOCKETPAIR_STATIC
endchoice
choice NRF70_OPER_MODES
	default NRF70_SCAN_ONLY if WIFI_USAGE_MODE_SCAN_ONLY
endchoice

# MbedTLS requirements for WiFi connectivity
configdefault PSA_WANT_KEY_TYPE_AES
	default y if NRF70_STA_MODE
configdefault PSA_WANT_ALG_CMAC
	default y if NRF70_STA_MODE
configdefault PSA_WANT_ALG_ECDH
	default y if NRF70_STA_MODE
configdefault PSA_WANT_ALG_ECDSA
	default y if NRF70_STA_MODE
configdefault MBEDTLS_HASH_ALL_ENABLED
	default y if NRF70_STA_MODE
configdefault MBEDTLS_ECP_C
	default y if NRF70_STA_MODE
configdefault MBEDTLS_ECP_DP_SECP256R1_ENABLED
	default y if NRF70_STA_MODE
configdefault MBEDTLS_ECDH_C
	default y if NRF70_STA_MODE
configdefault MBEDTLS_ECDSA_C
	default y if NRF70_STA_MODE
configdefault MBEDTLS_ECJPAKE_C
	default y if NRF70_STA_MODE && !BUILD_WITH_TFM
configdefault MBEDTLS_CIPHER_AES_ENABLED
	default y if NRF70_STA_MODE
configdefault MBEDTLS_CIPHER_MODE_CTR_ENABLED
	default y if NRF70_STA_MODE

# UART0 is the standard serial port on Nordic boards
configdefault UART_0_NRF_TX_BUFFER_SIZE
	default 1024 if EPACKET_INTERFACE_SERIAL
# UART20 is the standard serial port on Nordic nRF54L boards
configdefault UART_20_NRF_TX_BUFFER_SIZE
	default 1024 if EPACKET_INTERFACE_SERIAL

# If running HCI link over SPI and the Wake line is used, we need
# to account for larger than usual delays while the Bluetooth controller
# is writing to onboard flash while performing a DFU.
configdefault SPI_NRFX_WAKE_TIMEOUT_US
	default 2000 if BT_SPI

# Symbols used by SDK-NRF libraries but not defined upstream
config ZEPHYR_NRF_MODULE
	bool
config SOC_SERIES_NRF71X
	bool
config NORDIC_SECURITY_BACKEND
	bool
config UNITY
	bool
config FOTA_DOWNLOAD
	bool
config DATE_TIME
	bool

endif # SOC_FAMILY_NORDIC_NRF
