# Enable all channels for test

configdefault INFUSE_ZBUS_CHAN_BATTERY
	default y

configdefault INFUSE_ZBUS_CHAN_AMBIENT_ENV
	default y

configdefault INFUSE_ZBUS_CHAN_LOCATION
	default y

configdefault INFUSE_ZBUS_CHAN_IMU
	default y

configdefault TASK_RUNNER_TASK_TDF_LOGGER_LTE_MODEM_MONITOR
	default y

source "Kconfig.zephyr"
