# Enable all channels for test

configdefault INFUSE_ZBUS_CHAN_BATTERY
	default y

configdefault INFUSE_ZBUS_CHAN_AMBIENT_ENV
	default y

configdefault INFUSE_ZBUS_CHAN_LOCATION
	default y

source "Kconfig.zephyr"
