# Test options

config INFUSE_LEGACY_ADV
	bool "Start legacy advertiser"

config CONN_TERMINATOR
	bool "Terminate connections after creation"

config INFUSE_REBOOT
	default y

config INFUSE_REBOOT_COMPILE
	default n

config INFUSE_REBOOT_RETURN
	default y

source "Kconfig.zephyr"
