# Infuse-IoT validation subsystem

config INFUSE_VALIDATION
	bool "Infuse-IoT hardware and driver validation libraries"

if INFUSE_VALIDATION

config INFUSE_VALIDATION_BUTTON
	bool "Infuse-IoT Button/GPIO validation"
	default y
	depends on DT_HAS_GPIO_KEYS_ENABLED

if INFUSE_VALIDATION_BUTTON

config INFUSE_VALIDATION_BUTTON_REQUIRE_MANUAL
	bool "Require manual hardware validation for the button"
	default n

config INFUSE_VALIDATION_BUTTON_ACTION_TIMEOUT
	int "Infuse-IoT Button timeout for action to occur (in seconds)"
	default 10

endif # INFUSE_VALIDATION_BUTTON

config INFUSE_VALIDATION_LEDS
	bool "Infuse-IoT LEDs/GPIO validation"
	default y
	depends on DT_HAS_GPIO_LEDS_ENABLED

if INFUSE_VALIDATION_LEDS

config INFUSE_VALIDATION_LEDS_ACTION_DURATION
	int "Infuse-IoT LEDs/gpio on duration (in milliseconds)"
	default 500

endif # INFUSE_VALIDATION_LEDS

if WIFI

config INFUSE_VALIDATE_WIFI_SSID
	string "Network SSID to connect to"
	default "example"

config INFUSE_VALIDATE_WIFI_PSK
	string "Network pre-shared-key to connect with"
	default "password"

config INFUSE_VALIDATION_SNTP_SERVER
	string "SNTP server address"
	default "pool.ntp.org"

endif # WIFI


endif # INFUSE_VALIDATION
