# Crypto library configuration

config PSA_CRYPTO_DRIVER_OBERON
	# The Oberon driver is required to provide HKDF needed for protected storage and builtin keys
	prompt "Oberon PSA driver" if !TFM_PARTITION_PROTECTED_STORAGE
	bool
	depends on SOC_FAMILY_NORDIC_NRF
	default y
	help
	  This configuration enables the usage of the Oberon PSA driver.

config CRYPTO_ASCON
	bool "ASCON lightweight cryptographic algorithms"
	help
	  Ascon is a family of lightweight cryptographic algorithms and consists of:
	  - Authenticated encryption schemes with associated data (AEAD)
	  - Hash functions (HASH) and extendible output functions (XOF)
	  - Pseudo-random functions (PRF) and message authentication codes (MAC)
	  More information can be found here: https://ascon.iaik.tugraz.at/

if CRYPTO_ASCON

config CRYPTO_ASCON_INLINE_MODE
	bool
	default y if (CRYPTO_ASCON_128 && CRYPTO_ASCON_128A) || \
		(CRYPTO_ASCON_128 && CRYPTO_ASCON_80PQ) || \
		(CRYPTO_ASCON_80PQ && CRYPTO_ASCON_128A)
	help
	  Due to naming conflicts inline mode is required when multiple algorithms
	  are selected. This results in significantly larger binaries and slightly
	  slower implementations

config CRYPTO_ASCON_IMPL
	string "ASCON implementation"
	default "armv7m_small" if ARMV7_M_ARMV8_M_MAINLINE
	default "ref"
	help
	  Valid options are "ref", "armv7m", "armv7m_lowsize", "armv7m_small".
	  Additional implementations require updates to ascon library.
	  See samples/crypto/profiling for size and performance comparisons.

config CRYPTO_ASCON_128
	bool "ascon-128"
	help
	  6 rounds, 64bit data rate.
	  Higher robustness in case of state recovery.

config CRYPTO_ASCON_128A
	bool "ascon-128a"
	help
	  8 rounds, 128bit data rate.
	  33% more performance due to larger data rate.

config CRYPTO_ASCON_80PQ
	bool "ascon-80pq"
	help
	  Post-Quantum variant, increased key size of 160 bits.

endif # CRYPTO_ASCON

config CRYPTO_XOODYAK
	bool "Xoodyak lightweight cryptographic algorithms"
	help
	  Xoodyak is a family of lightweight cryptographic algorithms.
	  More information can be found here: https://keccak.team/keccak.html

if CRYPTO_XOODYAK

config CRYPTO_XOODYAK_OPTIMIZED_ARM
	bool
	depends on ARMV7_M_ARMV8_M_MAINLINE || ARMV6_M_ARMV8_M_BASELINE
	default y

endif
