# Infuse-IoT automatic behaviours

config INFUSE_AUTO_BLUETOOTH_CONN_LOG
	bool "Automatically log Bluetooth connection events"
	depends on BT_PERIPHERAL || BT_CENTRAL
	depends on TDF_DATA_LOGGER
	default y

config INFUSE_AUTO_TIME_SYNC_LOG
	bool "Automatically log time sync events"
	depends on INFUSE_EPOCH_TIME
	depends on TDF_DATA_LOGGER
	default y

config INFUSE_AUTO_KV_STATE_OBSERVER
	bool "Automatically set application states based on KV"
	depends on INFUSE_APPLICATION_STATES
	default y

config INFUSE_AUTO_WIFI_CONN_LOG
	bool "Automatically log WiFi connection events"
	depends on WIFI
	depends on TDF_DATA_LOGGER
	default y

config INFUSE_AUTO_CHARGER_TEMPERATURE_CONTROL
	bool "Automatically control charging state based on temperature"
	depends on DT_HAS_EMBEINT_GPIO_CHARGER_CONTROL_ENABLED
	depends on INFUSE_ZBUS_CHAN_AMBIENT_ENV
	depends on TDF_DATA_LOGGER
	default y

if INFUSE_AUTO_CHARGER_TEMPERATURE_CONTROL

module = CHARGER_CONTROL
module-str = charger control
source "subsys/logging/Kconfig.template.log_config"

endif # INFUSE_AUTO_CHARGER_TEMPERATURE_CONTROL

config INFUSE_AUTO_BATTERY_CHARGE_ACCUMULATOR
	bool "Automatically accumulate battery charge over time"
	depends on ZBUS_CHANNEL_PUBLISH_STATS
	depends on INFUSE_ZBUS_CHAN_BATTERY
