#
# Copyright (c) 2024 Embeint Holdings Pty Ltd
#
# SPDX-License-Identifier: Apache-2.0
#
# https://www.sparkfun.com/products/12761

config SHIELD_SPARKFUN_SAM_M10
	def_bool $(shields_list_contains,sparkfun_sam_m10)
